Apps/DE_output_two_simple_flows_sequence_and_function.json
{
    "flows": [
        {
            "flowID": "104348eeda17061b",
            "flowName": "Sequence_v2",
            "flow": [
                {
                    "id": "104348eeda17061b",
                    "type": "tab",
                    "label": "Sequence_v2",
                    "disabled": false,
                    "info": "",
                    "env": []
                },
                {
                    "id": "8927b63106cb0dc5",
                    "type": "function",
                    "z": "104348eeda17061b",
                    "name": "hello",
                    "func": "//@sizingMB=512\nmsg.payload=msg.payload.value+' hello';\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 490,
                    "y": 180,
                    "wires": [
                        [
                            "6682aa5726c78fc9"
                        ]
                    ]
                },
                {
                    "id": "6682aa5726c78fc9",
                    "type": "function",
                    "z": "104348eeda17061b",
                    "name": "world",
                    "func": "//implies affinity with the other function in the sequence\n//@affinity=hello\nmsg.payload=msg.payload.value+' world';\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 660,
                    "y": 180,
                    "wires": [
                        []
                    ]
                },
                {
                    "id": "fef4a8d9d2730b90",
                    "type": "subflow:694cb784968dc0b9",
                    "z": "104348eeda17061b",
                    "name": "",
                    "env": [
                        {
                            "name": "Executor Mode",
                            "value": "NativeSequence",
                            "type": "str"
                        }
                    ],
                    "x": 540,
                    "y": 300,
                    "wires": []
                },
                {
                    "id": "eeb5210da7efebd3",
                    "type": "comment",
                    "z": "694cb784968dc0b9",
                    "name": "Instructions",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "x": 560,
                    "y": 280,
                    "wires": []
                },
                {
                    "id": "694cb784968dc0b9",
                    "type": "subflow",
                    "name": "Executor Mode",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "Executor Mode",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "Service"
                                            },
                                            "v": "Service"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NoderedFunction"
                                            },
                                            "v": "NoderedFunction"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NativeSequence"
                                            },
                                            "v": "NativeSequence"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#C0DEED",
                    "icon": "font-awesome/fa-angle-right"
                }
            ],
            "artifact": "https://registry.apps.ocphub.physics-faas.eu/custom/george:78",
            "type": "image"
        },
        {
            "flowID": "39ef55a8.55f96a",
            "flowName": "HelloFunctionV2",
            "flow": [
                {
                    "id": "39ef55a8.55f96a",
                    "type": "tab",
                    "label": "HelloFunctionV2",
                    "disabled": false,
                    "info": "",
                    "env": []
                },
                {
                    "id": "f70d642d7d615561",
                    "type": "http in",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "url": "/init",
                    "method": "post",
                    "upload": false,
                    "swaggerDoc": "",
                    "x": 340,
                    "y": 180,
                    "wires": [
                        [
                            "a8ea37eb3bb8cf23"
                        ]
                    ]
                },
                {
                    "id": "ee0278d90f6393a9",
                    "type": "http in",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "url": "/run",
                    "method": "post",
                    "upload": false,
                    "swaggerDoc": "",
                    "x": 340,
                    "y": 280,
                    "wires": [
                        [
                            "f52b7bec399e315a"
                        ]
                    ]
                },
                {
                    "id": "a8ea37eb3bb8cf23",
                    "type": "http response",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "x": 730,
                    "y": 180,
                    "wires": []
                },
                {
                    "id": "ab91c6c51decfbab",
                    "type": "http response",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "x": 870,
                    "y": 380,
                    "wires": []
                },
                {
                    "id": "f52b7bec399e315a",
                    "type": "function",
                    "z": "39ef55a8.55f96a",
                    "name": "hello world",
                    "func": "//console.log(msg);\nmsg.payload={'response':'hello '+msg.payload.value.name};\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 630,
                    "y": 280,
                    "wires": [
                        [
                            "ab91c6c51decfbab"
                        ]
                    ]
                },
                {
                    "id": "47d1123d17b41031",
                    "type": "comment",
                    "z": "39ef55a8.55f96a",
                    "name": "OW SKELETON with hello world function",
                    "info": "",
                    "x": 440,
                    "y": 360,
                    "wires": []
                },
                {
                    "id": "129fabd43047059b",
                    "type": "subflow:694cb784968dc0b9",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "Executor Mode",
                            "value": "NoderedFunction",
                            "type": "str"
                        }
                    ],
                    "x": 240,
                    "y": 460,
                    "wires": []
                },
                {
                    "id": "bba4b91d07643081",
                    "type": "subflow:dd8835083692860a",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "memory",
                            "value": "512",
                            "type": "num"
                        },
                        {
                            "name": "timeout",
                            "value": "120000",
                            "type": "num"
                        }
                    ],
                    "x": 240,
                    "y": 520,
                    "wires": []
                },
                {
                    "id": "46230eca45760f58",
                    "type": "subflow:f0b9b88b6dcb2ece",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "goal",
                            "value": "performance",
                            "type": "str"
                        }
                    ],
                    "x": 290,
                    "y": 580,
                    "wires": []
                },
                {
                    "id": "be87371dd5bad13a",
                    "type": "subflow:94dffc86e4af9a58",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "importance",
                            "value": "high",
                            "type": "str"
                        }
                    ],
                    "x": 260,
                    "y": 640,
                    "wires": []
                },
                {
                    "id": "7ec29cdc3b1457ea",
                    "type": "subflow:05f045b87080a61e",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "locality",
                            "value": "aws",
                            "type": "str"
                        }
                    ],
                    "x": 250,
                    "y": 700,
                    "wires": []
                },
                {
                    "id": "eeb5210da7efebd3",
                    "type": "comment",
                    "z": "694cb784968dc0b9",
                    "name": "Instructions",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "x": 560,
                    "y": 280,
                    "wires": []
                },
                {
                    "id": "694cb784968dc0b9",
                    "type": "subflow",
                    "name": "Executor Mode",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "Executor Mode",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "Service"
                                            },
                                            "v": "Service"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NoderedFunction"
                                            },
                                            "v": "NoderedFunction"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NativeSequence"
                                            },
                                            "v": "NativeSequence"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#C0DEED",
                    "icon": "font-awesome/fa-angle-right"
                },
                {
                    "id": "827476cff63f679c",
                    "type": "comment",
                    "z": "dd8835083692860a",
                    "name": "README",
                    "info": "The node is used to indicate memory and timing preferences for the final OW action.",
                    "x": 440,
                    "y": 180,
                    "wires": []
                },
                {
                    "id": "dd8835083692860a",
                    "type": "subflow",
                    "name": "SizingAnnotator",
                    "info": "This node should be used to dictate what is the necessary size in terms of memory and timeout of the registered action in Openwhisk.\n\nIt is assumed that this node is used at the flow level, indicating that the annotation refers to the container configuration of a docker action that includes the overall flow in the used tab.\n",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "memory",
                            "type": "num",
                            "value": "",
                            "ui": {
                                "label": {
                                    "en-US": "Memory (MB)"
                                }
                            }
                        },
                        {
                            "name": "timeout",
                            "type": "num",
                            "value": "",
                            "ui": {
                                "icon": "font-awesome/fa-times-circle-o",
                                "label": {
                                    "en-US": "Timeout (millisecs)"
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#E9967A",
                    "icon": "font-awesome/fa-arrows-h"
                },
                {
                    "id": "a0dfe746ee0c085b",
                    "type": "comment",
                    "z": "f0b9b88b6dcb2ece",
                    "name": "README",
                    "info": "The node is used to set the desired optimization goal: performance/energy",
                    "x": 340,
                    "y": 160,
                    "wires": []
                },
                {
                    "id": "f0b9b88b6dcb2ece",
                    "type": "subflow",
                    "name": "Optimization Goal (Flow Level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "goal",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "performance"
                                            },
                                            "v": "performance"
                                        },
                                        {
                                            "l": {
                                                "en-US": "energy"
                                            },
                                            "v": "energy"
                                        },
                                        {
                                            "l": {
                                                "en-US": "availability"
                                            },
                                            "v": "availability"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#FFAAAA",
                    "icon": "font-awesome/fa-sliders"
                },
                {
                    "id": "1896904e3b2cf282",
                    "type": "comment",
                    "z": "94dffc86e4af9a58",
                    "name": "README",
                    "info": "The node is used to indicate at the flow level what is the importance of the flow (to be taken under consideration in the scheduling aspects of PHYSICS)",
                    "x": 400,
                    "y": 160,
                    "wires": []
                },
                {
                    "id": "94dffc86e4af9a58",
                    "type": "subflow",
                    "name": "Importance (Flow level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "importance",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "high"
                                            },
                                            "v": "high"
                                        },
                                        {
                                            "l": {
                                                "en-US": "medium"
                                            },
                                            "v": "medium"
                                        },
                                        {
                                            "l": {
                                                "en-US": "low"
                                            },
                                            "v": "low"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#3FADB5",
                    "icon": "node-red/alert.svg"
                },
                {
                    "id": "30ee5c09f384361d",
                    "type": "comment",
                    "z": "05f045b87080a61e",
                    "name": "README",
                    "info": "The node is used to indicate at the flow level the locality of this flow with relation to a set of standard locations by name ",
                    "x": 400,
                    "y": 220,
                    "wires": []
                },
                {
                    "id": "05f045b87080a61e",
                    "type": "subflow",
                    "name": "Locality(flow level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "locality",
                            "type": "str",
                            "value": ""
                        }
                    ],
                    "meta": {},
                    "color": "#D8BFD8",
                    "icon": "font-awesome/fa-braille"
                }
            ],
            "artifact": "registry.apps.ocphub.physics-faas.eu/custom/george:79",
            "type": "image"
        }
    ],
    "displayName": {
        "flows": [
            [
                {
                    "id": "39ef55a8.55f96a",
                    "type": "tab",
                    "label": "HelloFunctionV2",
                    "disabled": false,
                    "info": "",
                    "env": []
                },
                {
                    "id": "f70d642d7d615561",
                    "type": "http in",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "url": "/init",
                    "method": "post",
                    "upload": false,
                    "swaggerDoc": "",
                    "x": 340,
                    "y": 180,
                    "wires": [
                        [
                            "a8ea37eb3bb8cf23"
                        ]
                    ]
                },
                {
                    "id": "ee0278d90f6393a9",
                    "type": "http in",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "url": "/run",
                    "method": "post",
                    "upload": false,
                    "swaggerDoc": "",
                    "x": 340,
                    "y": 280,
                    "wires": [
                        [
                            "f52b7bec399e315a"
                        ]
                    ]
                },
                {
                    "id": "a8ea37eb3bb8cf23",
                    "type": "http response",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "x": 730,
                    "y": 180,
                    "wires": []
                },
                {
                    "id": "ab91c6c51decfbab",
                    "type": "http response",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "x": 870,
                    "y": 380,
                    "wires": []
                },
                {
                    "id": "f52b7bec399e315a",
                    "type": "function",
                    "z": "39ef55a8.55f96a",
                    "name": "hello world",
                    "func": "//console.log(msg);\nmsg.payload={'response':'hello '+msg.payload.value.name};\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 630,
                    "y": 280,
                    "wires": [
                        [
                            "ab91c6c51decfbab"
                        ]
                    ]
                },
                {
                    "id": "47d1123d17b41031",
                    "type": "comment",
                    "z": "39ef55a8.55f96a",
                    "name": "OW SKELETON with hello world function",
                    "info": "",
                    "x": 440,
                    "y": 360,
                    "wires": []
                },
                {
                    "id": "129fabd43047059b",
                    "type": "subflow:694cb784968dc0b9",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "Executor Mode",
                            "value": "NoderedFunction",
                            "type": "str"
                        }
                    ],
                    "x": 240,
                    "y": 460,
                    "wires": []
                },
                {
                    "id": "bba4b91d07643081",
                    "type": "subflow:dd8835083692860a",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "memory",
                            "value": "512",
                            "type": "num"
                        },
                        {
                            "name": "timeout",
                            "value": "120000",
                            "type": "num"
                        }
                    ],
                    "x": 240,
                    "y": 520,
                    "wires": []
                },
                {
                    "id": "46230eca45760f58",
                    "type": "subflow:f0b9b88b6dcb2ece",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "goal",
                            "value": "performance",
                            "type": "str"
                        }
                    ],
                    "x": 290,
                    "y": 580,
                    "wires": []
                },
                {
                    "id": "be87371dd5bad13a",
                    "type": "subflow:94dffc86e4af9a58",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "importance",
                            "value": "high",
                            "type": "str"
                        }
                    ],
                    "x": 260,
                    "y": 640,
                    "wires": []
                },
                {
                    "id": "7ec29cdc3b1457ea",
                    "type": "subflow:05f045b87080a61e",
                    "z": "39ef55a8.55f96a",
                    "name": "",
                    "env": [
                        {
                            "name": "locality",
                            "value": "aws",
                            "type": "str"
                        }
                    ],
                    "x": 250,
                    "y": 700,
                    "wires": []
                },
                {
                    "id": "eeb5210da7efebd3",
                    "type": "comment",
                    "z": "694cb784968dc0b9",
                    "name": "Instructions",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "x": 560,
                    "y": 280,
                    "wires": []
                },
                {
                    "id": "694cb784968dc0b9",
                    "type": "subflow",
                    "name": "Executor Mode",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "Executor Mode",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "Service"
                                            },
                                            "v": "Service"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NoderedFunction"
                                            },
                                            "v": "NoderedFunction"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NativeSequence"
                                            },
                                            "v": "NativeSequence"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#C0DEED",
                    "icon": "font-awesome/fa-angle-right"
                },
                {
                    "id": "827476cff63f679c",
                    "type": "comment",
                    "z": "dd8835083692860a",
                    "name": "README",
                    "info": "The node is used to indicate memory and timing preferences for the final OW action.",
                    "x": 440,
                    "y": 180,
                    "wires": []
                },
                {
                    "id": "dd8835083692860a",
                    "type": "subflow",
                    "name": "SizingAnnotator",
                    "info": "This node should be used to dictate what is the necessary size in terms of memory and timeout of the registered action in Openwhisk.\n\nIt is assumed that this node is used at the flow level, indicating that the annotation refers to the container configuration of a docker action that includes the overall flow in the used tab.\n",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "memory",
                            "type": "num",
                            "value": "",
                            "ui": {
                                "label": {
                                    "en-US": "Memory (MB)"
                                }
                            }
                        },
                        {
                            "name": "timeout",
                            "type": "num",
                            "value": "",
                            "ui": {
                                "icon": "font-awesome/fa-times-circle-o",
                                "label": {
                                    "en-US": "Timeout (millisecs)"
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#E9967A",
                    "icon": "font-awesome/fa-arrows-h"
                },
                {
                    "id": "a0dfe746ee0c085b",
                    "type": "comment",
                    "z": "f0b9b88b6dcb2ece",
                    "name": "README",
                    "info": "The node is used to set the desired optimization goal: performance/energy",
                    "x": 340,
                    "y": 160,
                    "wires": []
                },
                {
                    "id": "f0b9b88b6dcb2ece",
                    "type": "subflow",
                    "name": "Optimization Goal (Flow Level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "goal",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "performance"
                                            },
                                            "v": "performance"
                                        },
                                        {
                                            "l": {
                                                "en-US": "energy"
                                            },
                                            "v": "energy"
                                        },
                                        {
                                            "l": {
                                                "en-US": "availability"
                                            },
                                            "v": "availability"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#FFAAAA",
                    "icon": "font-awesome/fa-sliders"
                },
                {
                    "id": "1896904e3b2cf282",
                    "type": "comment",
                    "z": "94dffc86e4af9a58",
                    "name": "README",
                    "info": "The node is used to indicate at the flow level what is the importance of the flow (to be taken under consideration in the scheduling aspects of PHYSICS)",
                    "x": 400,
                    "y": 160,
                    "wires": []
                },
                {
                    "id": "94dffc86e4af9a58",
                    "type": "subflow",
                    "name": "Importance (Flow level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "importance",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "high"
                                            },
                                            "v": "high"
                                        },
                                        {
                                            "l": {
                                                "en-US": "medium"
                                            },
                                            "v": "medium"
                                        },
                                        {
                                            "l": {
                                                "en-US": "low"
                                            },
                                            "v": "low"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#3FADB5",
                    "icon": "node-red/alert.svg"
                },
                {
                    "id": "30ee5c09f384361d",
                    "type": "comment",
                    "z": "05f045b87080a61e",
                    "name": "README",
                    "info": "The node is used to indicate at the flow level the locality of this flow with relation to a set of standard locations by name ",
                    "x": 400,
                    "y": 220,
                    "wires": []
                },
                {
                    "id": "05f045b87080a61e",
                    "type": "subflow",
                    "name": "Locality(flow level)",
                    "info": "",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "locality",
                            "type": "str",
                            "value": ""
                        }
                    ],
                    "meta": {},
                    "color": "#D8BFD8",
                    "icon": "font-awesome/fa-braille"
                }
            ],
            [
                {
                    "id": "104348eeda17061b",
                    "type": "tab",
                    "label": "Sequence_v2",
                    "disabled": false,
                    "info": "",
                    "env": []
                },
                {
                    "id": "8927b63106cb0dc5",
                    "type": "function",
                    "z": "104348eeda17061b",
                    "name": "hello",
                    "func": "//@sizingMB=512\nmsg.payload=msg.payload.value+' hello';\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 490,
                    "y": 180,
                    "wires": [
                        [
                            "6682aa5726c78fc9"
                        ]
                    ]
                },
                {
                    "id": "6682aa5726c78fc9",
                    "type": "function",
                    "z": "104348eeda17061b",
                    "name": "world",
                    "func": "//implies affinity with the other function in the sequence\n//@affinity=hello\nmsg.payload=msg.payload.value+' world';\nreturn msg;",
                    "outputs": 1,
                    "noerr": 0,
                    "initialize": "",
                    "finalize": "",
                    "libs": [],
                    "x": 660,
                    "y": 180,
                    "wires": [
                        []
                    ]
                },
                {
                    "id": "fef4a8d9d2730b90",
                    "type": "subflow:694cb784968dc0b9",
                    "z": "104348eeda17061b",
                    "name": "",
                    "env": [
                        {
                            "name": "Executor Mode",
                            "value": "NativeSequence",
                            "type": "str"
                        }
                    ],
                    "x": 540,
                    "y": 300,
                    "wires": []
                },
                {
                    "id": "eeb5210da7efebd3",
                    "type": "comment",
                    "z": "694cb784968dc0b9",
                    "name": "Instructions",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "x": 560,
                    "y": 280,
                    "wires": []
                },
                {
                    "id": "694cb784968dc0b9",
                    "type": "subflow",
                    "name": "Executor Mode",
                    "info": "The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ",
                    "category": "PHYSICS Annotators",
                    "in": [],
                    "out": [],
                    "env": [
                        {
                            "name": "Executor Mode",
                            "type": "str",
                            "value": "",
                            "ui": {
                                "type": "select",
                                "opts": {
                                    "opts": [
                                        {
                                            "l": {
                                                "en-US": "Service"
                                            },
                                            "v": "Service"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NoderedFunction"
                                            },
                                            "v": "NoderedFunction"
                                        },
                                        {
                                            "l": {
                                                "en-US": "NativeSequence"
                                            },
                                            "v": "NativeSequence"
                                        }
                                    ]
                                }
                            }
                        }
                    ],
                    "meta": {},
                    "color": "#C0DEED",
                    "icon": "font-awesome/fa-angle-right"
                }
            ]
        ],
        "branchName": "george",
        "appName": ""
    }
}