Apps/SEoutput_AppWithSJsimple_and_platform_action.json
[{"@context":{"@version":1.1,"@vocab":"http://www.physics-h2020.eu/physics/1.0.0/","flow":"http://example_composer.physics.eu/flow/","function":"http://example_composer.physics.eu/function/","param":"http://example_parameters_repository.physics.eu/","app":"http://example_composer.physics.eu/app/","owner":"http://example_owners_repository.physics.eu/","proglang":"http://languages.programming.physics.eu/","js_lib":"http://languages.programming.physics.eu/javascript/lib/"},"@id":"app:Application","@type":"Application","hasFlow":{"@id":"flow:e98bf48d7a877d25","@type":"Flow","affinity":"affinity","affinityAppID":"app0","affinityArtefactID":"https://registry.apps.ocphub.physics-faas.eu/custom:54","consumesREST":{"@id":"flow:5813b63f70690303/interface/4b0793e93fa7e4c7","@type":"REST","hasHttpMethod":"POST"},"definesInterface":[{"@id":"flow:e98bf48d7a877d25/interface/e9e20d06928e3a23.out0","@type":"MessageWire","isNodeInputOf":"flow:e98bf48d7a877d25/node/da1cd4a2ba26b2ce","isNodeOutputOf":"function:e9e20d06928e3a23"},{"@id":"flow:e98bf48d7a877d25/interface/ce0ad53cb5c6ef33.out0","@type":"MessageWire","isNodeOutputOf":"function:ce0ad53cb5c6ef33"},{"@id":"flow:e98bf48d7a877d25/interface/6c475d976512ab6c","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceURI":"/run","isNodeInputOf":"function:e9e20d06928e3a23"},{"@id":"flow:e98bf48d7a877d25/interface/d8ea5c991b7256b2","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceToInterface":"flow:e98bf48d7a877d25/interface/0bf6e36501ea140c","interfaceURI":"/init"},{"@id":"flow:e98bf48d7a877d25/interface/0bf6e36501ea140c","@type":"RESTOutput"},{"@id":"flow:e98bf48d7a877d25/interface/729306c6b37c0ec0","@type":"RESTOutput"}],"executorMode":"NoderedFunction","exposesREST":["flow:e98bf48d7a877d25/interface/6c475d976512ab6c","flow:e98bf48d7a877d25/interface/d8ea5c991b7256b2"],"hasFunction":[{"@id":"function:e9e20d06928e3a23","@type":"Function","funcCode":"\n//aws wp4\nmsg.creds='178f79b4-4540-449c-a815-f3b50602aeca:0EWLwLLxVWFsBrW4Lq7Y1EuTYRcfVSsYjXQANDQ78nO9tgzT6B2nui2whli9wlc5';\nmsg.namespace='wp4namespace';\n\n//hua guest\n//msg.creds='23bc46b1-71f6-4ed5-8c54-816aa4f8c502:123zO3xZCLrMN6v2BKK1dXYFpXlPkccOFqm12CdAsMgRU4VrNZ9lyGVCGuMDGIwP';\n\n//aws wp3\n//msg.creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.payload={};\nmsg.payload.value={};\nmsg.payload.value={\"values\":[\n    {'run':'run1','delay':12000,'iterations':1},\n    {'run':'run2','delay':3000,'iterations':1},\n    {'run':'run3','delay':3000,'iterations':1},\n    {'run':'run4','delay':3000,'iterations':1},\n    ], \n    'action':'delayaction'\n    //\"execution\":'local_multiprocess', //or faas\n    //\"splitsize\":global.get('splitsize')\n    //\"maxOWmillisecinterarrival\":20\n};\n\nmsg.url='https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/wp4namespace/actions/delayaction?blocking=true';\n\n\nreturn msg;","label":"add test inputs"},{"@id":"function:82b665f654048ecf","@type":"Function","funcCode":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;"},{"@id":"function:ce0ad53cb5c6ef33","@type":"Function","funcCode":"msg.action=msg.payload.value.action;\n\nmsg.oldpayload=msg.payload;\nmsg.payload={};\nmsg.payload=msg.oldpayload.value.values;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\nreturn msg;"},{"@id":"function:933bd2f642873790","@type":"Function","funcCode":"msg.newpayload=msg.payload;\nmsg.payload=[];\nmsg.payload=msg.oldpayload;\nmsg.payload.value=msg.newpayload;\n\nmsg.payload.value.myvar=env.get('setsplit');\nreturn msg;"}],"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/custom/george:71","artifactType":"image","id":"e98bf48d7a877d25","label":"splitjoinFunction","nodes":[{"disabled":false,"id":"e98bf48d7a877d25","label":"splitjoinFunction","type":"tab"},{"id":"6c475d976512ab6c","method":"post","type":"http in","upload":false,"url":"/run","wires":"e9e20d06928e3a23","x":500,"y":500,"z":"e98bf48d7a877d25"},{"id":"d8ea5c991b7256b2","method":"post","type":"http in","upload":false,"url":"/init","wires":"0bf6e36501ea140c","x":540,"y":380,"z":"e98bf48d7a877d25"},{"id":"0bf6e36501ea140c","type":"http response","x":830,"y":380,"z":"e98bf48d7a877d25"},{"id":"729306c6b37c0ec0","type":"http response","x":1090,"y":500,"z":"e98bf48d7a877d25"},{"env":{"name":"Executor Mode","type":"str","value":"NoderedFunction"},"id":"e385b549bc1cae8d","subflow":"694cb784968dc0b9","type":"subflow:694cb784968dc0b9","x":550,"y":700,"z":"e98bf48d7a877d25"},{"func":"\n//aws wp4\nmsg.creds='178f79b4-4540-449c-a815-f3b50602aeca:0EWLwLLxVWFsBrW4Lq7Y1EuTYRcfVSsYjXQANDQ78nO9tgzT6B2nui2whli9wlc5';\nmsg.namespace='wp4namespace';\n\n//hua guest\n//msg.creds='23bc46b1-71f6-4ed5-8c54-816aa4f8c502:123zO3xZCLrMN6v2BKK1dXYFpXlPkccOFqm12CdAsMgRU4VrNZ9lyGVCGuMDGIwP';\n\n//aws wp3\n//msg.creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.payload={};\nmsg.payload.value={};\nmsg.payload.value={\"values\":[\n    {'run':'run1','delay':12000,'iterations':1},\n    {'run':'run2','delay':3000,'iterations':1},\n    {'run':'run3','delay':3000,'iterations':1},\n    {'run':'run4','delay':3000,'iterations':1},\n    ], \n    'action':'delayaction'\n    //\"execution\":'local_multiprocess', //or faas\n    //\"splitsize\":global.get('splitsize')\n    //\"maxOWmillisecinterarrival\":20\n};\n\nmsg.url='https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/wp4namespace/actions/delayaction?blocking=true';\n\n\nreturn msg;","id":"e9e20d06928e3a23","name":"add test inputs","noerr":0,"outputs":1,"type":"function","wires":"da1cd4a2ba26b2ce","x":700,"y":500,"z":"e98bf48d7a877d25"},{"id":"da1cd4a2ba26b2ce","subflow":"5813b63f70690303","type":"subflow:5813b63f70690303","wires":"729306c6b37c0ec0","x":880,"y":500,"z":"e98bf48d7a877d25"},{"env":[{"name":"affinityArtefactID","type":"str","value":"https://registry.apps.ocphub.physics-faas.eu/custom:54"},{"name":"affinityAppID","type":"str","value":"app0"},{"name":"affinity","type":"str","value":"affinity"}],"id":"84e7befdcccb2e4e","subflow":"edfbba7dd979ecf1","type":"subflow:edfbba7dd979ecf1","x":540,"y":780,"z":"e98bf48d7a877d25"},{"func":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","id":"82b665f654048ecf","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","noerr":0,"outputs":1,"type":"function","x":360,"y":140,"z":"694cb784968dc0b9"},{"id":"eeb5210da7efebd3","info":"The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ","name":"Instructions","type":"comment","x":560,"y":280,"z":"694cb784968dc0b9"},{"api":"https://openwhisk.apps.ocphub.physics-faas.eu/api/v1","id":"64f1be8afce20915","name":"aws","type":"openwhisk-service","z":"5813b63f70690303"},{"id":"1f13a2c0346f82c6","type":"tls-config","verifyservercert":false,"z":"5813b63f70690303"},{"arraySplt":"1","arraySpltType":"len","id":"770ef202c7ccecb6","splt":"\\n","spltType":"str","stream":false,"type":"split","wires":["cb539c8dcce538f8","4b0793e93fa7e4c7"],"x":330,"y":100,"z":"5813b63f70690303"},{"accumulate":"false","build":"string","id":"fef7008cea92f52d","joiner":"\\n","joinerType":"str","key":"topic","mode":"auto","property":"payload","propertyType":"msg","reduceRight":false,"type":"join","wires":"933bd2f642873790","x":650,"y":100,"z":"5813b63f70690303"},{"id":"8ca660db8c891c1f","name":"NEEDS CONFIGURATION WITH OW ENDPOINT","type":"comment","x":470,"y":160,"z":"5813b63f70690303"},{"func":"msg.action=msg.payload.value.action;\n\nmsg.oldpayload=msg.payload;\nmsg.payload={};\nmsg.payload=msg.oldpayload.value.values;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\nreturn msg;","id":"ce0ad53cb5c6ef33","noerr":0,"outputs":1,"type":"function","wires":"770ef202c7ccecb6","x":160,"y":100,"z":"5813b63f70690303"},{"func":"msg.newpayload=msg.payload;\nmsg.payload=[];\nmsg.payload=msg.oldpayload;\nmsg.payload.value=msg.newpayload;\n\nmsg.payload.value.myvar=env.get('setsplit');\nreturn msg;","id":"933bd2f642873790","noerr":0,"outputs":1,"type":"function","x":800,"y":100,"z":"5813b63f70690303"},{"active":true,"complete":"false","console":false,"id":"cb539c8dcce538f8","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":420,"y":240,"z":"5813b63f70690303"},{"authType":"basic","id":"4b0793e93fa7e4c7","method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"tls":"1f13a2c0346f82c6","type":"http request","wires":"fef7008cea92f52d","x":510,"y":100,"z":"5813b63f70690303"},{"checkall":"true","id":"6675030579fdcb44","outputs":1,"property":"payload","propertyType":"msg","repair":false,"rules":{"t":"eq","vt":"str"},"type":"switch","x":360,"y":140,"z":"edfbba7dd979ecf1"}]},"hasNode":{"@id":"flow:e98bf48d7a877d25/node/da1cd4a2ba26b2ce","@type":"SubFlow","hasNodeOutput":"flow:e98bf48d7a877d25/interface/729306c6b37c0ec0","hasTemplate":"flow:5813b63f70690303"},"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/custom/george:71","@type":"SoftwareImage"},"label":"splitjoinFunction"},"isTopLevelComposite":true},{"@context":{"@context":{"@version":1.1,"@vocab":"http://www.physics-h2020.eu/physics/1.0.0/","flow":"http://example_composer.physics.eu/flow/","function":"http://example_composer.physics.eu/function/","param":"http://example_parameters_repository.physics.eu/","app":"http://example_composer.physics.eu/app/","owner":"http://example_owners_repository.physics.eu/","proglang":"http://languages.programming.physics.eu/","js_lib":"http://languages.programming.physics.eu/javascript/lib/"}},"@id":"flow:5813b63f70690303","consumesREST":["flow:5813b63f70690303/interface/4b0793e93fa7e4c7"]}]