Apps/V3_SE_output_Orchestrator_Hello.txt
{"@context":{"@version":1.1,"@vocab":"http://www.physics-h2020.eu/physics/1.0.0/","flow":"http://example_composer.physics.eu/flow/","function":"http://example_composer.physics.eu/function/","param":"http://example_parameters_repository.physics.eu/","app":"http://example_composer.physics.eu/app/","owner":"http://example_owners_repository.physics.eu/","proglang":"http://languages.programming.physics.eu/","js_lib":"http://languages.programming.physics.eu/javascript/lib/"},"@id":"app:p2app","@type":"Application","hasFlow":[{"@id":"flow:39ef55a8.55f96a","@type":"Flow","consumesREST":[{"@id":"flow:05f045b87080a61e/interface/2dfd6d65fe6d1982","@type":"REST","hasHttpMethod":"GET","interfaceURI":"localhost:1880/flows","isNodeInputOf":"function:0e0216a1434ea57a","label":"GET FLOWS"},{"@id":"flow:05f045b87080a61e/interface/e1deff3989857115","@type":"REST","hasHttpMethod":"POST","interfaceURI":"localhost:1880/flows","label":"POST FLOW"}],"definesInterface":[{"@id":"flow:39ef55a8.55f96a/interface/f70d642d7d615561","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceToInterface":"flow:39ef55a8.55f96a/interface/a8ea37eb3bb8cf23","interfaceURI":"/init"},{"@id":"flow:39ef55a8.55f96a/interface/ee0278d90f6393a9","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceURI":"/run","isNodeInputOf":"function:f52b7bec399e315a"},{"@id":"flow:39ef55a8.55f96a/interface/a8ea37eb3bb8cf23","@type":"RESTOutput"},{"@id":"flow:39ef55a8.55f96a/interface/ab91c6c51decfbab","@type":"RESTOutput"}],"executorMode":"NoderedFunction","exposesREST":["flow:39ef55a8.55f96a/interface/f70d642d7d615561","flow:39ef55a8.55f96a/interface/ee0278d90f6393a9"],"goal":"energy","hasFunction":[{"@id":"function:f52b7bec399e315a","@type":"Function","funcCode":"console.log(msg.payload);\nif ( Array.isArray(msg.payload.value.input)){\n    console.log('Step 1');\n    var names=msg.payload.value.input;\n    console.log('Step 2');\n    msg.payload={'response':'hello'};\n    console.log('Step 3');\n    for (i=0;i<names.length;i++){\n        console.log('Step:'+i);\n        msg.payload.response=msg.payload.response+' '+names[i].name;\n    }\n} else {\n    msg.payload={'response':'hello '+msg.payload.value.name};    \n}\n\nreturn msg;","hasNodeOutput":"flow:39ef55a8.55f96a/interface/ab91c6c51decfbab","label":"hello world"},{"@id":"function:82b665f654048ecf","@type":"Function","funcCode":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;"},{"@id":"function:c66966a2d36f06b5","@type":"Function","funcCode":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","label":"add sizing"},{"@id":"function:0e0216a1434ea57a","@type":"Function","funcCode":"msg.headers={};\nvar changedNodes=[];\nfor (i=0;i<msg.payload.length;i++){\n    if ((msg.payload[i].type==\"subflow\")&&(msg.payload[i].name==\"Locality(flow level)\")){\n        msg.payload[i].env[0].ui.opts.opts=[];\n        var k=0;\n        for (k=0;k<msg.newClusters.length;k++){\n            var opt={\"l\":{\"en-US\":\"\"},\"v\":\"\"};\n            opt.l[\"en-US\"]=msg.newClusters[k];\n            opt.v=msg.newClusters[k];\n            console.log(\"K:\",k);\n            console.log(\"Opt:\",opt);\n            msg.payload[i].env[0].ui.opts.opts[k]=opt;\n            console.log(\"Array:\",msg.payload[i].env[0].ui.opts.opts);\n        }\n        changedNodes.push(msg.payload[i]);\n    }\n}\nmsg.changedNodes=changedNodes;\n\nreturn msg;","hasNodeOutput":"flow:05f045b87080a61e/interface/e1deff3989857115","label":"UPDATE CLUSTERS"}],"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/custom/george:199","artifactType":"image","id":"39ef55a8.55f96a","label":"HelloFunctionV2","nodes":[{"disabled":false,"id":"39ef55a8.55f96a","label":"HelloFunctionV2","type":"tab"},{"id":"f70d642d7d615561","method":"post","type":"http in","upload":false,"url":"/init","wires":"a8ea37eb3bb8cf23","x":340,"y":160,"z":"39ef55a8.55f96a"},{"id":"ee0278d90f6393a9","method":"post","type":"http in","upload":false,"url":"/run","wires":"f52b7bec399e315a","x":340,"y":280,"z":"39ef55a8.55f96a"},{"id":"a8ea37eb3bb8cf23","type":"http response","x":730,"y":180,"z":"39ef55a8.55f96a"},{"id":"ab91c6c51decfbab","type":"http response","x":870,"y":380,"z":"39ef55a8.55f96a"},{"func":"console.log(msg.payload);\nif ( Array.isArray(msg.payload.value.input)){\n    console.log('Step 1');\n    var names=msg.payload.value.input;\n    console.log('Step 2');\n    msg.payload={'response':'hello'};\n    console.log('Step 3');\n    for (i=0;i<names.length;i++){\n        console.log('Step:'+i);\n        msg.payload.response=msg.payload.response+' '+names[i].name;\n    }\n} else {\n    msg.payload={'response':'hello '+msg.payload.value.name};    \n}\n\nreturn msg;","id":"f52b7bec399e315a","name":"hello world","noerr":0,"outputs":1,"type":"function","wires":"ab91c6c51decfbab","x":670,"y":280,"z":"39ef55a8.55f96a"},{"id":"47d1123d17b41031","name":"OW SKELETON with hello world function","type":"comment","x":440,"y":360,"z":"39ef55a8.55f96a"},{"env":{"name":"Executor Mode","type":"str","value":"NoderedFunction"},"id":"129fabd43047059b","subflow":"694cb784968dc0b9","type":"subflow:694cb784968dc0b9","x":230,"y":480,"z":"39ef55a8.55f96a"},{"env":[{"name":"memory","type":"num","value":"512"},{"name":"timeout","type":"num","value":"220000"}],"id":"bba4b91d07643081","subflow":"dd8835083692860a","type":"subflow:dd8835083692860a","x":220,"y":540,"z":"39ef55a8.55f96a"},{"env":{"name":"goal","type":"str","value":"energy"},"id":"46230eca45760f58","subflow":"f0b9b88b6dcb2ece","type":"subflow:f0b9b88b6dcb2ece","x":270,"y":600,"z":"39ef55a8.55f96a"},{"env":{"name":"importance","type":"str","value":"high"},"id":"be87371dd5bad13a","subflow":"94dffc86e4af9a58","type":"subflow:94dffc86e4af9a58","x":240,"y":660,"z":"39ef55a8.55f96a"},{"env":{"name":"locality","type":"str","value":"aws"},"id":"7ec29cdc3b1457ea","subflow":"05f045b87080a61e","type":"subflow:05f045b87080a61e","x":250,"y":840,"z":"39ef55a8.55f96a"},{"func":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","id":"82b665f654048ecf","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","noerr":0,"outputs":1,"type":"function","x":360,"y":140,"z":"694cb784968dc0b9"},{"id":"eeb5210da7efebd3","info":"The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ","name":"Instructions","type":"comment","x":560,"y":280,"z":"694cb784968dc0b9"},{"func":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","id":"c66966a2d36f06b5","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","name":"add sizing","noerr":0,"outputs":1,"type":"function","x":300,"y":60,"z":"dd8835083692860a"},{"id":"ef33a2b7c53c600f","type":"comment","x":200,"y":80,"z":"f0b9b88b6dcb2ece"},{"id":"1896904e3b2cf282","info":"The node is used to indicate at the flow level what is the importance of the flow (to be taken under consideration in the scheduling aspects of PHYSICS)","name":"README","type":"comment","x":400,"y":160,"z":"94dffc86e4af9a58"},{"id":"30ee5c09f384361d","info":"The node is used to indicate at the flow level the locality of this flow with relation to a set of standard locations by name.\n\nThe new clusters need to be retrieved from an external location and put in the msg.newClusters field as an array:\n[\n    \"aws\",\n    \"edgeA\",\n    \"edgeB\",\n    \"azure\"\n]\n\nThen all current flows are retrieved and the subflow definition of Locality is updated with the new options. Following, the flows are reposted to Node-RED. Be sure to check the merge afterwards, in case someone else has changed the flows in the meantime.\n\nThere is no API at the subflow level at the moment:\nhttps://discourse.nodered.org/t/api-for-subflows/20325/2\n\nPENDING: WE CAN ADD THE RETRIEVAL PART OF THE NEW CLUSTER LIST INSIDE THE SUBFLOW IF WE ALSO ADD PARAMETERS IN THE UI REGARDING THE ENDPOINT FROM WHICH TO RETRIEVE THE LIST","name":"README","type":"comment","x":400,"y":220,"z":"05f045b87080a61e"},{"id":"55a2a753e271d52e","name":"SUBFLOW FORMAT","once":false,"onceDelay":0.1,"payload":"[     {         \"id\": \"05f045b87080a61e\",         \"type\": \"subflow\",         \"name\": \"Locality(flow level)\",         \"info\": \"\",         \"category\": \"PHYSICS Annotators\",         \"in\": [],         \"out\": [],         \"env\": [             {                 \"name\": \"locality\",                 \"type\": \"str\",                 \"value\": \"\",                 \"ui\": {                     \"type\": \"select\",                     \"opts\": {                         \"opts\": [                             {                                 \"l\": {                                     \"en-US\": \"aws\"                                 },                                 \"v\": \"aws\"                             },                             {                                 \"l\": {                                     \"en-US\": \"azure\"                                 },                                 \"v\": \"azure\"                             },                             {                                 \"l\": {                                     \"en-US\": \"edge\"                                 },                                 \"v\": \"edge\"                             }                         ]                     }                 }             }         ],         \"meta\": {},         \"color\": \"#D8BFD8\",         \"icon\": \"font-awesome/fa-braille\"     },     {         \"id\": \"30ee5c09f384361d\",         \"type\": \"comment\",         \"z\": \"05f045b87080a61e\",         \"name\": \"README\",         \"info\": \"The node is used to indicate at the flow level the locality of this flow with relation to a set of standard locations by name \",         \"x\": 400,         \"y\": 220,         \"wires\": []     },     {         \"id\": \"7ec29cdc3b1457ea\",         \"type\": \"subflow:05f045b87080a61e\",         \"z\": \"f8346d4a3a5cf215\",         \"name\": \"\",         \"env\": [             {                 \"name\": \"locality\",                 \"value\": \"aws\",                 \"type\": \"str\"             }         ],         \"x\": 550,         \"y\": 300,         \"wires\": []     } ]","payloadType":"json","props":[{"p":"payload"},{"p":"newClusters","v":"[\"aws\", \"edgeA\",\"edgeB\",\"azure\"]","vt":"json"}],"type":"inject","wires":"0e0216a1434ea57a","x":390,"y":340,"z":"05f045b87080a61e"},{"func":"msg.headers={};\nvar changedNodes=[];\nfor (i=0;i<msg.payload.length;i++){\n    if ((msg.payload[i].type==\"subflow\")&&(msg.payload[i].name==\"Locality(flow level)\")){\n        msg.payload[i].env[0].ui.opts.opts=[];\n        var k=0;\n        for (k=0;k<msg.newClusters.length;k++){\n            var opt={\"l\":{\"en-US\":\"\"},\"v\":\"\"};\n            opt.l[\"en-US\"]=msg.newClusters[k];\n            opt.v=msg.newClusters[k];\n            console.log(\"K:\",k);\n            console.log(\"Opt:\",opt);\n            msg.payload[i].env[0].ui.opts.opts[k]=opt;\n            console.log(\"Array:\",msg.payload[i].env[0].ui.opts.opts);\n        }\n        changedNodes.push(msg.payload[i]);\n    }\n}\nmsg.changedNodes=changedNodes;\n\nreturn msg;","id":"0e0216a1434ea57a","name":"UPDATE CLUSTERS","noerr":0,"outputs":1,"type":"function","wires":"e1deff3989857115","x":460,"y":420,"z":"05f045b87080a61e"},{"id":"0607edf39bc4fcdd","name":"newClusters test","once":false,"onceDelay":0.1,"payloadType":"date","props":[{"p":"payload"},{"p":"newClusters","v":"[\"aws\",\"edgeA\",\"edgeB\",\"azure\"]","vt":"json"}],"type":"inject","wires":"2dfd6d65fe6d1982","x":160,"y":500,"z":"05f045b87080a61e"},{"id":"2dfd6d65fe6d1982","method":"GET","name":"GET FLOWS","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"type":"http request","url":"localhost:1880/flows","wires":"0e0216a1434ea57a","x":230,"y":420,"z":"05f045b87080a61e"},{"id":"e1deff3989857115","method":"POST","name":"POST FLOW","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"type":"http request","url":"localhost:1880/flows","wires":"fd2b4eee698cdcc4","x":670,"y":420,"z":"05f045b87080a61e"},{"active":true,"complete":"true","console":false,"id":"fd2b4eee698cdcc4","statusType":"auto","targetType":"full","tosidebar":true,"tostatus":false,"type":"debug","x":810,"y":420,"z":"05f045b87080a61e"}]},"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/custom/george:199","@type":"SoftwareImage"},"importance":"high","label":"HelloFunctionV2","loadGenData":{"achievedAverageRate":20.09,"averageDuration":5.36,"averageInitTime":0,"averageStartLatency":27.2,"averageUserSideDelay":32.56,"averageWaitTime":19.29,"globalStartTime":1689858679061,"launchGeneratorDelay":237,"location":"default","memory":256,"sampleNumber":55,"setRate":20.449897750511248,"stdDevDuration":5.92,"stdDevInitTime":0,"stdDevStartLatency":66.66,"stdDevUserSideDelay":66.56,"stdDevWaitTime":66.72,"successPercentage":100},"locality":"aws","memory":"512","performanceProfile":{"location":"default","resources":{"cpu":"low","fsreads":"high","fswrites":"low","memory":"high","networkreceived":"low","networktransmitted":"low"}},"timeout":"220000"},{"@id":"flow:a714de618203e22e","@type":"Flow","actionName":"HelloFunctionV2_george_9d780eb8-7441-4377-a648-4a1fceee3518.json","averageWaitTime":"200","consumesREST":[{"@id":"flow:a714de618203e22e/interface/73608b4ce219374a","@type":"REST","hasHttpMethod":"POST","interfaceURI":"http://localhost:1880/run"},{"@id":"flow:3352c7dddc9aad6d/interface/b9c86339cffd54ea","@type":"REST","hasHttpMethod":"POST","isNodeInputOf":"function:27c3b0af40ccb4e0"},{"@id":"flow:789351ac.02c9d/interface/471b3d64.265894","@type":"REST","hasHttpMethod":"USE"}],"definesInterface":[{"@id":"flow:a714de618203e22e/interface/5e15f34e1caa9fe7.out0","@type":"MessageWire","isNodeInputOf":"function:b84a3ec8968b0617","isNodeOutputOf":"flow:a714de618203e22e/node/5e15f34e1caa9fe7"},{"@id":"flow:a714de618203e22e/interface/27c3b0af40ccb4e0.out0","@type":"MessageWire","isNodeInputOf":"flow:a714de618203e22e/node/5e15f34e1caa9fe7","isNodeOutputOf":"function:27c3b0af40ccb4e0"},{"@id":"flow:a714de618203e22e/interface/7d194c10.33b51c.out0","@type":"MessageWire","isNodeInputOf":"function:cad17b04.a2b4d8","isNodeOutputOf":"function:7d194c10.33b51c"},{"@id":"flow:a714de618203e22e/interface/4be3f205.3e8dc4.out0","@type":"MessageWire","isNodeOutputOf":"function:4be3f205.3e8dc4"},{"@id":"flow:a714de618203e22e/interface/f2b7c4e4.a24c3.out0","@type":"MessageWire","isNodeOutputOf":"function:f2b7c4e4.a24c3"},{"@id":"flow:a714de618203e22e/interface/1bbc6fa0.4879c.out0","@type":"MessageWire","isNodeOutputOf":"function:1bbc6fa0.4879c"},{"@id":"flow:a714de618203e22e/interface/1bbc6fa0.4879c.out1","@type":"MessageWire","isNodeInputOf":"function:f2b7c4e4.a24c3","isNodeOutputOf":"function:1bbc6fa0.4879c"},{"@id":"flow:a714de618203e22e/interface/bf09047153273cf2","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceToInterface":"flow:a714de618203e22e/interface/45437512996b2c7a","interfaceURI":"/init"},{"@id":"flow:a714de618203e22e/interface/45437512996b2c7a","@type":"RESTOutput"},{"@id":"flow:a714de618203e22e/interface/d759376bc9171438","@type":"RESTOutput"},{"@id":"flow:a714de618203e22e/interface/311e4be150c63a56","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceURI":"/run","isNodeInputOf":"flow:a714de618203e22e/node/ad0beb0a878c622a"}],"dynamicActionName":"HelloFunctionV2_george","exposesREST":["flow:a714de618203e22e/interface/bf09047153273cf2","flow:a714de618203e22e/interface/311e4be150c63a56"],"hasFunction":[{"@id":"function:60d351e91c4f1f19","@type":"Function","funcCode":"//msg.headers={};\n\n\n//get info from incoming function params based on the action name given by the user in the Dynamic Action UI\nconst prophost='__'+env.get('actionName')+'_HOST';\nconst propcreds='__'+env.get('actionName')+'_CREDS';\nconst propnamespace='__'+env.get('actionName')+'_NAMESPACE';\n\n//retrieve from incoming msg params\nmsg.namespace=msg.payload.value[propnamespace];\nmsg.creds=msg.payload.value[propcreds];\nmsg.baseurl=msg.payload.value[prophost];\nmsg.url=msg.payload.value[prophost]+'namespaces/'+msg.namespace+'/actions/'+env.get('actionName');\n\n//delete info so that it does not leak into the newly called function, we dont know how the payload \n//is going to be used after that\n\ndelete msg.payload.value[propcreds];\ndelete msg.payload.value[propnamespace];\ndelete msg.payload.value[prophost]\n\n\n//denote msg.payload.value which is the normal payload to msg.payload since it is like this that the \n//inner function awaits it. Otherwise it will be in msg.payload.value.value from the follow-up OW call\nvar input=msg.payload.value;\nmsg.payload={};\nmsg.payload=input;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","hasNodeOutput":"flow:3352c7dddc9aad6d/interface/b9c86339cffd54ea","label":"create dynamic"},{"@id":"function:27c3b0af40ccb4e0","@type":"Function","funcCode":"\nmsg.activationID=msg.headers['x-openwhisk-activation-id'];\n//msg.oldheaders=msg.headers;\n//msg.headers={};\nmsg.url=msg.baseurl+'namespaces/'+msg.namespace+'/activations/'+msg.activationID;\n\nreturn msg;","label":"add activation id"},{"@id":"function:b84a3ec8968b0617","@type":"Function","funcCode":"//msg.headers={};\nvar response=msg.payload.response;\nmsg.payload={};\nmsg.payload.response=response;\n\nreturn msg;\n//return msg.oldmsg;","label":"reduce output"},{"@id":"function:7d194c10.33b51c","@type":"Function","funcCode":"\nif (msg.hasOwnProperty('maxAttempts')){\n    msg.iterations=msg.maxAttempts;\n} else {\n    msg.iterations=env.get('maxAttempts');\n}\n//needed to reset the iterations after function chaining\nmsg.defaultAttempts=msg.iterations;\n\nif (msg.hasOwnProperty('pollPeriod')){\n    \n} else {\n    msg.pollPeriod=env.get('pollPeriod');\n}\n\nif (msg.hasOwnProperty('method')){\n    \n} else {\n    msg.method=env.get('method');\n}\n\nif (msg.hasOwnProperty('url')){\n    \n} else {\n    msg.url=env.get('url');\n}\n\nif (msg.hasOwnProperty('retryCode')){\n    \n} else {\n    msg.retryCode=env.get('retryCode');\n}\n\nif (msg.hasOwnProperty('acceptCode')){\n    \n} else {\n    msg.acceptCode=env.get('acceptCode');\n}\n\nif (msg.hasOwnProperty('creds')){\n    \n} else {\n    msg.creds=env.get('creds');\n}\n\nif (msg.hasOwnProperty('functionChain')){\n    \n} else {\n    msg.functionChain=env.get('functionChain');\n}\n\nif (msg.hasOwnProperty('inputData')){\n    if (msg.inputData.hasOwnProperty('creds')){\n        msg.creds=msg.inputData.creds;\n    }\n}\n\n\n\nmsg.delay=msg.pollPeriod;\nmsg.start=Date.now();\nreturn msg;","label":"defaults+activation id"},{"@id":"function:4be3f205.3e8dc4","@type":"Function","funcCode":"msg.iterations=msg.iterations-1;\n/*\nif (flow.get('stop')==true){\n    msg.iterations=-1;\n}*/\nreturn msg;","label":"iterations--"},{"@id":"function:cad17b04.a2b4d8","@type":"Function","funcCode":"msg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\nmsg.method='GET';\n\nreturn msg;","hasNodeOutput":"flow:789351ac.02c9d/interface/471b3d64.265894","label":"add auth"},{"@id":"function:f2b7c4e4.a24c3","@type":"Function","funcCode":"\n\nmsg.url=msg.payload.response.result.newActivationIDURL;\nmsg.iterations=msg.defaultAttempts+1;\nconsole.log('IN ADAPTATION TO ACTIVATION',msg.url);\nreturn msg;","label":"adapt to new activation"},{"@id":"function:1bbc6fa0.4879c","@type":"Function","funcCode":"console.log('IN COMPARE COMPLETION',msg.payload.response);\nif (msg.payload.response.result.status==='Completed'){\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n","label":"compare completion"},{"@id":"function:c66966a2d36f06b5","@type":"Function","funcCode":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","label":"add sizing"}],"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/custom/george:200","artifactType":"image","id":"a714de618203e22e","label":"orchestrator","nodes":[{"disabled":false,"id":"a714de618203e22e","label":"orchestrator","type":"tab"},{"env":[{"name":"dynamicActionName","type":"str","value":"HelloFunctionV2_george"},{"name":"actionName","type":"str","value":"HelloFunctionV2_george_9d780eb8-7441-4377-a648-4a1fceee3518.json"},{"name":"token","type":"cred"}],"id":"ad0beb0a878c622a","name":"call HelloFunctionV2","subflow":"3352c7dddc9aad6d","type":"subflow:3352c7dddc9aad6d","wires":"d759376bc9171438","x":340,"y":240,"z":"a714de618203e22e"},{"id":"bf09047153273cf2","method":"post","type":"http in","upload":false,"url":"/init","wires":"45437512996b2c7a","x":100,"y":140,"z":"a714de618203e22e"},{"id":"45437512996b2c7a","type":"http response","x":530,"y":140,"z":"a714de618203e22e"},{"id":"d759376bc9171438","type":"http response","x":650,"y":240,"z":"a714de618203e22e"},{"id":"fbf1b0d24c05f997","name":"TEST_DELETECREDS BEFOREPUBLIC","once":false,"onceDelay":0.1,"payload":"{\"value\":{\"__HelloFunctionV2_george_9d780eb8-7441-4377-a648-4a1fceee3518.json_HOST\":\"https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/\",\"__HelloFunctionV2_george_9d780eb8-7441-4377-a648-4a1fceee3518.json_NAMESPACE\":\"guest\",\"__HelloFunctionV2_george_9d780eb8-7441-4377-a648-4a1fceee3518.json_CREDS\":\"17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF\",\"name\":\"george\"}}","payloadType":"json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"type":"inject","wires":"73608b4ce219374a","x":220,"y":580,"z":"a714de618203e22e"},{"id":"73608b4ce219374a","method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"type":"http request","url":"http://localhost:1880/run","wires":"8c2df5bff072d0f7","x":490,"y":580,"z":"a714de618203e22e"},{"active":true,"complete":"false","console":false,"id":"8c2df5bff072d0f7","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":710,"y":580,"z":"a714de618203e22e"},{"id":"311e4be150c63a56","method":"post","type":"http in","upload":false,"url":"/run","wires":"ad0beb0a878c622a","x":100,"y":240,"z":"a714de618203e22e"},{"env":[{"name":"maxAttempts","type":"str","value":"20"},{"name":"pollPeriod","type":"num","value":"3000"},{"name":"method","type":"str","value":"GET"},{"name":"functionChain","type":"bool","value":"false"}],"id":"a0e2929e2897b0cd","subflow":"789351ac.02c9d","type":"subflow:789351ac.02c9d","x":270,"y":440,"z":"a714de618203e22e"},{"env":[{"name":"memory","type":"num","value":"512"},{"name":"timeout","type":"num","value":"300000"}],"id":"60aae624d21f2cf1","subflow":"dd8835083692860a","type":"subflow:dd8835083692860a","x":140,"y":60,"z":"a714de618203e22e"},{"env":{"name":"averageWaitTime","type":"num","value":"200"},"id":"0a47269f76b1f09b","subflow":"2f92914d720ab974","type":"subflow:2f92914d720ab974","x":350,"y":60,"z":"a714de618203e22e"},{"id":"a80b2fa1299e3bb8","type":"tls-config","verifyservercert":false,"z":"3352c7dddc9aad6d"},{"id":"b9c86339cffd54ea","method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"tls":"a80b2fa1299e3bb8","type":"http request","wires":"27c3b0af40ccb4e0","x":370,"y":180,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\n\n\n//get info from incoming function params based on the action name given by the user in the Dynamic Action UI\nconst prophost='__'+env.get('actionName')+'_HOST';\nconst propcreds='__'+env.get('actionName')+'_CREDS';\nconst propnamespace='__'+env.get('actionName')+'_NAMESPACE';\n\n//retrieve from incoming msg params\nmsg.namespace=msg.payload.value[propnamespace];\nmsg.creds=msg.payload.value[propcreds];\nmsg.baseurl=msg.payload.value[prophost];\nmsg.url=msg.payload.value[prophost]+'namespaces/'+msg.namespace+'/actions/'+env.get('actionName');\n\n//delete info so that it does not leak into the newly called function, we dont know how the payload \n//is going to be used after that\n\ndelete msg.payload.value[propcreds];\ndelete msg.payload.value[propnamespace];\ndelete msg.payload.value[prophost]\n\n\n//denote msg.payload.value which is the normal payload to msg.payload since it is like this that the \n//inner function awaits it. Otherwise it will be in msg.payload.value.value from the follow-up OW call\nvar input=msg.payload.value;\nmsg.payload={};\nmsg.payload=input;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","id":"60d351e91c4f1f19","name":"create dynamic","noerr":0,"outputs":1,"type":"function","wires":"b9c86339cffd54ea","x":200,"y":180,"z":"3352c7dddc9aad6d"},{"func":"\nmsg.activationID=msg.headers['x-openwhisk-activation-id'];\n//msg.oldheaders=msg.headers;\n//msg.headers={};\nmsg.url=msg.baseurl+'namespaces/'+msg.namespace+'/activations/'+msg.activationID;\n\nreturn msg;","id":"27c3b0af40ccb4e0","name":"add activation id","noerr":0,"outputs":1,"type":"function","wires":"5e15f34e1caa9fe7","x":540,"y":180,"z":"3352c7dddc9aad6d"},{"env":[{"name":"maxAttempts","type":"str","value":"20"},{"name":"pollPeriod","type":"num","value":"3000"},{"name":"method","type":"str","value":"GET"},{"name":"functionChain","type":"bool","value":"false"}],"id":"5e15f34e1caa9fe7","subflow":"789351ac.02c9d","type":"subflow:789351ac.02c9d","wires":["b84a3ec8968b0617","47a494805843dcd7"],"x":610,"y":260,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\nvar response=msg.payload.response;\nmsg.payload={};\nmsg.payload.response=response;\n\nreturn msg;\n//return msg.oldmsg;","id":"b84a3ec8968b0617","name":"reduce output","noerr":0,"outputs":1,"type":"function","x":840,"y":280,"z":"3352c7dddc9aad6d"},{"active":true,"complete":"false","console":false,"id":"47a494805843dcd7","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":610,"y":60,"z":"3352c7dddc9aad6d"},{"id":"2934f390.711324","type":"tls-config","verifyservercert":false,"z":"789351ac.02c9d"},{"func":"\nif (msg.hasOwnProperty('maxAttempts')){\n    msg.iterations=msg.maxAttempts;\n} else {\n    msg.iterations=env.get('maxAttempts');\n}\n//needed to reset the iterations after function chaining\nmsg.defaultAttempts=msg.iterations;\n\nif (msg.hasOwnProperty('pollPeriod')){\n    \n} else {\n    msg.pollPeriod=env.get('pollPeriod');\n}\n\nif (msg.hasOwnProperty('method')){\n    \n} else {\n    msg.method=env.get('method');\n}\n\nif (msg.hasOwnProperty('url')){\n    \n} else {\n    msg.url=env.get('url');\n}\n\nif (msg.hasOwnProperty('retryCode')){\n    \n} else {\n    msg.retryCode=env.get('retryCode');\n}\n\nif (msg.hasOwnProperty('acceptCode')){\n    \n} else {\n    msg.acceptCode=env.get('acceptCode');\n}\n\nif (msg.hasOwnProperty('creds')){\n    \n} else {\n    msg.creds=env.get('creds');\n}\n\nif (msg.hasOwnProperty('functionChain')){\n    \n} else {\n    msg.functionChain=env.get('functionChain');\n}\n\nif (msg.hasOwnProperty('inputData')){\n    if (msg.inputData.hasOwnProperty('creds')){\n        msg.creds=msg.inputData.creds;\n    }\n}\n\n\n\nmsg.delay=msg.pollPeriod;\nmsg.start=Date.now();\nreturn msg;","id":"7d194c10.33b51c","name":"defaults+activation id","noerr":0,"outputs":1,"type":"function","wires":"cad17b04.a2b4d8","x":200,"y":160,"z":"789351ac.02c9d"},{"func":"msg.iterations=msg.iterations-1;\n/*\nif (flow.get('stop')==true){\n    msg.iterations=-1;\n}*/\nreturn msg;","id":"4be3f205.3e8dc4","name":"iterations--","noerr":0,"outputs":1,"type":"function","wires":"c2cf68b7.263d4","x":350,"y":300,"z":"789351ac.02c9d"},{"checkall":"true","id":"c2cf68b7.263d4","name":"if iterations finished","outputs":2,"property":"iterations","propertyType":"msg","repair":false,"rules":[{"t":"gte","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"num"}],"type":"switch","wires":"cad17b04.a2b4d8","x":550,"y":300,"z":"789351ac.02c9d"},{"id":"76299695.812bd8","name":"SUCCESS","type":"comment","x":1100,"y":60,"z":"789351ac.02c9d"},{"id":"48093072.b17a6","name":"FINAL FAIL","type":"comment","x":890,"y":360,"z":"789351ac.02c9d"},{"drop":false,"id":"d5960f2f.2e9448","name":"delay","nbRateUnits":"1","outputs":1,"pauseType":"delayv","randomFirst":"1","randomLast":"5","randomUnits":"seconds","rate":"1","rateUnits":"second","timeout":"5","timeoutUnits":"seconds","type":"delay","wires":"4be3f205.3e8dc4","x":170,"y":300,"z":"789351ac.02c9d"},{"id":"471b3d64.265894","method":"use","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"tls":"2934f390.711324","type":"http request","wires":"8694180b.ec1c68","x":590,"y":160,"z":"789351ac.02c9d"},{"checkall":"true","id":"8694180b.ec1c68","name":"Status code check","outputs":2,"property":"statusCode","propertyType":"msg","repair":false,"rules":[{"t":"lte","v":"acceptCode","vt":"msg"},{"t":"gte","v":"retryCode","vt":"msg"}],"type":"switch","wires":["f9d0aba7.72382","d5960f2f.2e9448"],"x":810,"y":160,"z":"789351ac.02c9d"},{"id":"ef03414f.ad9d78","name":"RETRY FAIL","type":"comment","x":890,"y":260,"z":"789351ac.02c9d"},{"active":true,"complete":"true","console":false,"id":"66bbc0cf.0c62f","name":"BEFORE AUTH","targetType":"full","tosidebar":true,"tostatus":false,"type":"debug","x":370,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"url","console":true,"id":"13791c2d.8cea7c","name":"URL","statusType":"auto","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":580,"y":100,"z":"789351ac.02c9d"},{"func":"msg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\nmsg.method='GET';\n\nreturn msg;","id":"cad17b04.a2b4d8","name":"add auth","noerr":0,"outputs":1,"type":"function","wires":"471b3d64.265894","x":420,"y":160,"z":"789351ac.02c9d"},{"func":"\n\nmsg.url=msg.payload.response.result.newActivationIDURL;\nmsg.iterations=msg.defaultAttempts+1;\nconsole.log('IN ADAPTATION TO ACTIVATION',msg.url);\nreturn msg;","id":"f2b7c4e4.a24c3","name":"adapt to new activation","noerr":0,"outputs":1,"type":"function","wires":["d5960f2f.2e9448","ee1dbf44.7368f8"],"x":1500,"y":160,"z":"789351ac.02c9d"},{"id":"c338e47b.b00ed","name":"FUNCTION CHAIN CONTINUATION","type":"comment","x":1240,"y":240,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"ee1dbf44.7368f8","name":"AFTER CONTINUATION IN Poll2Push","statusType":"auto","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1420,"y":300,"z":"789351ac.02c9d"},{"checkall":"true","id":"f9d0aba7.72382","name":"is Chain","outputs":2,"property":"functionChain","propertyType":"msg","repair":false,"rules":[{"t":"false"},{"t":"true"}],"type":"switch","wires":["6da1eea0.969368","1bbc6fa0.4879c"],"x":1020,"y":160,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"6da1eea0.969368","name":"RESULT STATUS","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1100,"y":300,"z":"789351ac.02c9d"},{"active":true,"complete":"functionChain","console":true,"id":"f20a68d.9711598","name":"AFTER CODE CHECK","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":890,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"36905e62.dfad92","name":"TOP1","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1120,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"9610a737.bf275","name":"TOP2","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1300,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"c52af08f.756ee8","name":"TOP3","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1600,"y":100,"z":"789351ac.02c9d"},{"func":"console.log('IN COMPARE COMPLETION',msg.payload.response);\nif (msg.payload.response.result.status==='Completed'){\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n","id":"1bbc6fa0.4879c","name":"compare completion","noerr":0,"outputs":2,"type":"function","wires":["c52af08f.756ee8","f2b7c4e4.a24c3"],"x":1240,"y":160,"z":"789351ac.02c9d"},{"active":true,"complete":"iterations","console":true,"id":"d8305759.866988","name":"URL","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":500,"y":380,"z":"789351ac.02c9d"},{"func":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","id":"c66966a2d36f06b5","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","name":"add sizing","noerr":0,"outputs":1,"type":"function","x":300,"y":60,"z":"dd8835083692860a"},{"id":"b87db5bf54ee1249","type":"comment","x":190,"y":80,"z":"2f92914d720ab974"}]},"hasNode":[{"@id":"flow:a714de618203e22e/node/a0e2929e2897b0cd","@type":"SubFlow","hasTemplate":"flow:789351ac.02c9d"},{"@id":"flow:a714de618203e22e/node/5e15f34e1caa9fe7","@type":"SubFlow","hasTemplate":"flow:789351ac.02c9d"}],"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/custom/george:200","@type":"SoftwareImage"},"label":"orchestrator","memory":"512","timeout":"300000"}],"isTopLevelComposite":true}
