Apps/Demos/V3_SE_Output_SM_QC_app.txt
{"@context":{"@version":1.1,"@vocab":"http://www.physics-h2020.eu/physics/1.0.0/","flow":"http://example_composer.physics.eu/flow/","function":"http://example_composer.physics.eu/function/","param":"http://example_parameters_repository.physics.eu/","app":"http://example_composer.physics.eu/app/","owner":"aherget","proglang":"http://languages.programming.physics.eu/","js_lib":"http://languages.programming.physics.eu/javascript/lib/"},"@id":"http://example_composer.physics.eu/app/","@type":"Application","hasFlow":[{"@id":"flow:cc81b2e355ce5694","@type":"Flow","consumesREST":[{"@id":"flow:cc81b2e355ce5694/interface/1c9e4394410d845a","@type":"REST","hasHttpMethod":"POST"},{"@id":"flow:cc81b2e355ce5694/interface/d1497d8c9d4233d9","@type":"REST","hasHttpMethod":"POST"},{"@id":"flow:3352c7dddc9aad6d/interface/b9c86339cffd54ea","@type":"REST","hasHttpMethod":"POST","isNodeInputOf":"function:27c3b0af40ccb4e0"},{"@id":"flow:789351ac.02c9d/interface/471b3d64.265894","@type":"REST","hasHttpMethod":"GET"}],"definesInterface":[{"@id":"flow:cc81b2e355ce5694/interface/b35bd645a6863235.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/4d0646eb0e987866","isNodeOutputOf":"flow:cc81b2e355ce5694/node/b35bd645a6863235"},{"@id":"flow:cc81b2e355ce5694/interface/b35bd645a6863235.out1","@type":"MessageWire","isNodeInputOf":["flow:cc81b2e355ce5694/node/666dcd7d4bac95b3","flow:cc81b2e355ce5694/node/f2569f083176ae03"],"isNodeOutputOf":"flow:cc81b2e355ce5694/node/b35bd645a6863235"},{"@id":"flow:cc81b2e355ce5694/interface/e823a15efde8481b.out0","@type":"MessageWire","isNodeOutputOf":"flow:cc81b2e355ce5694/node/e823a15efde8481b"},{"@id":"flow:cc81b2e355ce5694/interface/4d0646eb0e987866.out0","@type":"MessageWire","isNodeOutputOf":"flow:cc81b2e355ce5694/node/4d0646eb0e987866"},{"@id":"flow:cc81b2e355ce5694/interface/4d0646eb0e987866.out1","@type":"MessageWire","isNodeOutputOf":"flow:cc81b2e355ce5694/node/4d0646eb0e987866"},{"@id":"flow:cc81b2e355ce5694/interface/cd6e6ff477813c62.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/b35bd645a6863235","isNodeOutputOf":"flow:cc81b2e355ce5694/node/cd6e6ff477813c62"},{"@id":"flow:cc81b2e355ce5694/interface/ee3d90e9a1c7f018.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/b35bd645a6863235","isNodeOutputOf":"flow:cc81b2e355ce5694/node/ee3d90e9a1c7f018"},{"@id":"flow:cc81b2e355ce5694/interface/d1f2db35a2e177e9.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/e823a15efde8481b","isNodeOutputOf":"flow:cc81b2e355ce5694/node/d1f2db35a2e177e9"},{"@id":"flow:cc81b2e355ce5694/interface/666dcd7d4bac95b3.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/e823a15efde8481b","isNodeOutputOf":"flow:cc81b2e355ce5694/node/666dcd7d4bac95b3"},{"@id":"flow:cc81b2e355ce5694/interface/c524b5dcc1cd8ce9.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/ee3d90e9a1c7f018","isNodeOutputOf":"flow:cc81b2e355ce5694/node/c524b5dcc1cd8ce9"},{"@id":"flow:cc81b2e355ce5694/interface/f2569f083176ae03.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/d1f2db35a2e177e9","isNodeOutputOf":"flow:cc81b2e355ce5694/node/f2569f083176ae03"},{"@id":"flow:cc81b2e355ce5694/interface/5e15f34e1caa9fe7.out0","@type":"MessageWire","isNodeInputOf":"function:b84a3ec8968b0617","isNodeOutputOf":"flow:cc81b2e355ce5694/node/5e15f34e1caa9fe7"},{"@id":"flow:cc81b2e355ce5694/interface/27c3b0af40ccb4e0.out0","@type":"MessageWire","isNodeInputOf":"flow:cc81b2e355ce5694/node/5e15f34e1caa9fe7","isNodeOutputOf":"function:27c3b0af40ccb4e0"},{"@id":"flow:cc81b2e355ce5694/interface/7d194c10.33b51c.out0","@type":"MessageWire","isNodeInputOf":"function:cad17b04.a2b4d8","isNodeOutputOf":"function:7d194c10.33b51c"},{"@id":"flow:cc81b2e355ce5694/interface/4be3f205.3e8dc4.out0","@type":"MessageWire","isNodeOutputOf":"function:4be3f205.3e8dc4"},{"@id":"flow:cc81b2e355ce5694/interface/cad17b04.a2b4d8.out0","@type":"MessageWire","isNodeOutputOf":"function:cad17b04.a2b4d8"},{"@id":"flow:cc81b2e355ce5694/interface/f2b7c4e4.a24c3.out0","@type":"MessageWire","isNodeOutputOf":"function:f2b7c4e4.a24c3"},{"@id":"flow:cc81b2e355ce5694/interface/1bbc6fa0.4879c.out0","@type":"MessageWire","isNodeOutputOf":"function:1bbc6fa0.4879c"},{"@id":"flow:cc81b2e355ce5694/interface/1bbc6fa0.4879c.out1","@type":"MessageWire","isNodeInputOf":"function:f2b7c4e4.a24c3","isNodeOutputOf":"function:1bbc6fa0.4879c"},{"@id":"flow:cc81b2e355ce5694/interface/39e88c22cf495373","@type":"RESTOutput","label":"AllOK"},{"@id":"flow:cc81b2e355ce5694/interface/9255c806f79d5e3c","@type":"RESTOutput","label":"CertaintyOK QualityNotOK"},{"@id":"flow:cc81b2e355ce5694/interface/28c1998c014e18b0","@type":"RESTOutput","label":"CertaintyNotOK"},{"@id":"flow:cc81b2e355ce5694/interface/61f4d67cfa2b8ba8","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceToInterface":"flow:cc81b2e355ce5694/interface/3f55d8dada5b7061","interfaceURI":"/init"},{"@id":"flow:cc81b2e355ce5694/interface/3f55d8dada5b7061","@type":"RESTOutput"},{"@id":"flow:cc81b2e355ce5694/interface/e4332c1de7729695","@type":"REST","allowsUpload":false,"hasHttpMethod":"POST","interfaceURI":"/run"}],"dynamicActionName":["simple_qc","complex_qc"],"executorMode":"NoderedFunction","exposesREST":["flow:cc81b2e355ce5694/interface/61f4d67cfa2b8ba8","flow:cc81b2e355ce5694/interface/e4332c1de7729695"],"hasFunction":[{"@id":"function:9a08741c3144cee3","@type":"Function","funcCode":"var method='simple_qc_aherget_1cf38725-f5f6-4874-a47c-44e7706548c2';\nmsg.url=`https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/guest/actions/${method}?blocking=true&result=true`;\n\n\nvar creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\n\nreturn msg;","hasNodeOutput":"flow:cc81b2e355ce5694/interface/1c9e4394410d845a","label":"insert action invocation url - simple"},{"@id":"function:106e0b74c991d632","@type":"Function","funcCode":"var method='complex-qc-v5_aherget_cae54468-41dc-4040-9112-f910b37b9cd0';\nmsg.url=`https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/guest/actions/${method}?blocking=true&result=true`;\n\n\nvar creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\n\nreturn msg;","hasNodeOutput":"flow:cc81b2e355ce5694/interface/d1497d8c9d4233d9","label":"insert action invocation url - complex"},{"@id":"function:5a3afc7aff7f239e","@type":"Function","funcCode":"// first msg should be the original request, second one from QC\n\nif (typeof msg.payload[1].results == 'undefined') {\n    return [null, msg, {payload: { fill:\"red\", shape:\"dot\", text:\"No results!\" }}]\n}\n\nvar score_total = 0\nvar score_min = 999\nfor (const result of msg.payload[1].results)\n{\n    score_total += result.score\n    // old version\n    if (result.score < score_min)\n    {\n        score_min = result.score\n    }\n    // new version\n    if (result.confidence < score_min) {\n        score_min = result.confidence\n    }\n}\n\n//const certainty = score_total / msg.payload.results.length\nconst certainty = score_min\nif (certainty > 0.8)\n{\n    // both messages for inspecting results\n    return [msg, null, {payload: { fill:\"green\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\nelse \n{\n    msg.payload = msg.payload[0]\n    return [null, msg, {payload: { fill:\"yellow\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\n","label":"check certainty"},{"@id":"function:05898d2a8fe617e7","@type":"Function","funcCode":"\nif (typeof msg.payload[1].results == 'undefined') {\n    return [null, null, {payload: { fill:\"red\", shape:\"dot\", text:\"No results!\" }}]\n} else if (typeof msg.payload[0].expected == 'undefined') {\n    return [null, null, {payload: { fill:\"red\", shape:\"dot\", text:\"No expected parts!\" }}]\n}\n\nvar result_parts = []\nfor (const result of msg.payload[1].results)\n{\n    result_parts.push(result.class)\n    result_parts.push(result.label)  // new version\n}\n\nfor (const part of msg.payload[0].expected)\n{\n    if (!result_parts.includes(part.name))\n    {\n        msg.payload = msg.payload[1]\n        return [null, msg, {payload: { fill:\"yellow\", shape:\"dot\", text:\"Quality NOT OK! Part \"+part.name+\" not found in result!\" }}]\n    }\n}\n\nmsg.payload = msg.payload[1]\nreturn [msg, null, {payload: { fill:\"green\", shape:\"dot\", text:\"Quality OK!\" }}]","label":"Check Results"},{"@id":"function:6cf5b4224f0daa69","@type":"Function","funcCode":"\n//need to push the new parts down a LIFO structure?\nif (msg.hasOwnProperty(\"parts\")){\n    var parts={};\n    parts=msg.parts;\n    delete msg.parts;\n    msg.parts={};\n    msg.parts.parts=parts;\n    msg.parts.id=msg._msgid;\n} else {\n    msg.parts={};\n    msg.parts.id=msg._msgid;\n}\n\nmsg.parts.count=env.get('totalcount');\nmsg.parts.len=1;\nmsg.parts.index=env.get('position')-1;\nmsg.parts.type=\"array\";\n\n//msg.topic='topic2';\n\n\nreturn msg;","label":"create artificial msg.parts"},{"@id":"function:82b665f654048ecf","@type":"Function","funcCode":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;"},{"@id":"function:c66966a2d36f06b5","@type":"Function","funcCode":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","label":"add sizing"},{"@id":"function:60d351e91c4f1f19","@type":"Function","funcCode":"//msg.headers={};\n\n\n//get info from incoming function params based on the action name given by the user in the Dynamic Action UI\nconst prophost='__'+env.get('actionName')+'_HOST';\nconst propcreds='__'+env.get('actionName')+'_CREDS';\nconst propnamespace='__'+env.get('actionName')+'_NAMESPACE';\n\n//retrieve from incoming msg params\nmsg.namespace=msg.payload.value[propnamespace];\nmsg.creds=msg.payload.value[propcreds];\nmsg.baseurl=msg.payload.value[prophost];\nmsg.url=msg.payload.value[prophost]+'namespaces/'+msg.namespace+'/actions/'+env.get('actionName');\n\n//delete info so that it does not leak into the newly called function, we dont know how the payload \n//is going to be used after that\n\ndelete msg.payload.value[propcreds];\ndelete msg.payload.value[propnamespace];\ndelete msg.payload.value[prophost]\n\n\n//denote msg.payload.value which is the normal payload to msg.payload since it is like this that the \n//inner function awaits it. Otherwise it will be in msg.payload.value.value from the follow-up OW call\nvar input=msg.payload.value;\nmsg.payload={};\nmsg.payload=input;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","hasNodeOutput":"flow:3352c7dddc9aad6d/interface/b9c86339cffd54ea","label":"create dynamic"},{"@id":"function:27c3b0af40ccb4e0","@type":"Function","funcCode":"\nmsg.activationID=msg.headers['x-openwhisk-activation-id'];\n//msg.oldheaders=msg.headers;\n//msg.headers={};\nmsg.url=msg.baseurl+'namespaces/'+msg.namespace+'/activations/'+msg.activationID;\n\nreturn msg;","label":"add activation id"},{"@id":"function:b84a3ec8968b0617","@type":"Function","funcCode":"//msg.headers={};\nvar response=msg.payload.response;\nmsg.payload={};\nmsg.payload.response=response;\n\nreturn msg;\n//return msg.oldmsg;","label":"reduce output"},{"@id":"function:7d194c10.33b51c","@type":"Function","funcCode":"\nif (msg.hasOwnProperty('maxAttempts')){\n    msg.iterations=msg.maxAttempts;\n} else {\n    msg.iterations=env.get('maxAttempts');\n}\n//needed to reset the iterations after function chaining\nmsg.defaultAttempts=msg.iterations;\n\nif (msg.hasOwnProperty('pollPeriod')){\n    \n} else {\n    msg.pollPeriod=env.get('pollPeriod');\n}\n\nif (msg.hasOwnProperty('method')){\n    \n} else {\n    msg.method=env.get('method');\n}\n\nif (msg.hasOwnProperty('url')){\n    \n} else {\n    msg.url=env.get('url');\n}\n\nif (msg.hasOwnProperty('retryCode')){\n    \n} else {\n    msg.retryCode=env.get('retryCode');\n}\n\nif (msg.hasOwnProperty('acceptCode')){\n    \n} else {\n    msg.acceptCode=env.get('acceptCode');\n}\n\nif (msg.hasOwnProperty('creds')){\n    \n} else {\n    msg.creds=env.get('creds');\n}\n\nif (msg.hasOwnProperty('functionChain')){\n    \n} else {\n    msg.functionChain=env.get('functionChain');\n}\n\nif (msg.hasOwnProperty('inputData')){\n    if (msg.inputData.hasOwnProperty('creds')){\n        msg.creds=msg.inputData.creds;\n    }\n}\n\n\n\nmsg.delay=msg.pollPeriod;\nmsg.start=Date.now();\nreturn msg;","label":"defaults+activation id"},{"@id":"function:4be3f205.3e8dc4","@type":"Function","funcCode":"msg.iterations=msg.iterations-1;\n/*\nif (flow.get('stop')==true){\n    msg.iterations=-1;\n}*/\nreturn msg;","label":"iterations--"},{"@id":"function:cad17b04.a2b4d8","@type":"Function","funcCode":"msg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","hasNodeOutput":"flow:789351ac.02c9d/interface/471b3d64.265894","label":"add auth"},{"@id":"function:f2b7c4e4.a24c3","@type":"Function","funcCode":"\n\nmsg.url=msg.payload.response.result.newActivationIDURL;\nmsg.iterations=msg.defaultAttempts+1;\nconsole.log('IN ADAPTATION TO ACTIVATION',msg.url);\nreturn msg;","label":"adapt to new activation"},{"@id":"function:1bbc6fa0.4879c","@type":"Function","funcCode":"console.log('IN COMPARE COMPLETION',msg.payload.response);\nif (msg.payload.response.result.status==='Completed'){\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n","label":"compare completion"}],"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/custom/aherget:10","artifactType":"image","id":"cc81b2e355ce5694","label":"QC2","nodes":[{"disabled":false,"id":"cc81b2e355ce5694","label":"QC2","type":"tab"},{"active":false,"complete":"true","console":false,"id":"ae5de2de81cfad54","statusType":"auto","targetType":"full","tosidebar":true,"tostatus":false,"type":"debug","x":130,"y":820,"z":"cc81b2e355ce5694"},{"active":true,"data":"payload.image","dataType":"msg","id":"76fc91c809b3024b","outputs":0,"pass":false,"thumbnail":false,"type":"image","width":"300","x":160,"y":860,"z":"cc81b2e355ce5694"},{"active":true,"data":"payload.image","dataType":"msg","id":"1778a57288f1e208","outputs":0,"pass":false,"thumbnail":false,"type":"image","width":"600","x":480,"y":860,"z":"cc81b2e355ce5694"},{"id":"39e88c22cf495373","name":"AllOK","statusCode":"200","type":"http response","x":1410,"y":400,"z":"cc81b2e355ce5694"},{"id":"9255c806f79d5e3c","name":"CertaintyOK QualityNotOK","statusCode":"400","type":"http response","x":1480,"y":440,"z":"cc81b2e355ce5694"},{"id":"28c1998c014e18b0","name":"CertaintyNotOK","statusCode":"400","type":"http response","x":1520,"y":720,"z":"cc81b2e355ce5694"},{"id":"a4beb21d363277ca","name":"Notify Operator","type":"comment","x":1520,"y":760,"z":"cc81b2e355ce5694"},{"active":false,"complete":"false","console":false,"id":"b04443e064b94e38","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":1110,"y":820,"z":"cc81b2e355ce5694"},{"active":true,"data":"payload.image","dataType":"msg","id":"c1916b788677cea5","outputs":0,"pass":false,"thumbnail":false,"type":"image","width":"600","x":1120,"y":860,"z":"cc81b2e355ce5694"},{"id":"b35bd645a6863235","subflow":"aa40c3c502023f84","type":"subflow:aa40c3c502023f84","wires":["4d0646eb0e987866","666dcd7d4bac95b3","f2569f083176ae03"],"x":640,"y":460,"z":"cc81b2e355ce5694"},{"id":"e823a15efde8481b","subflow":"aa40c3c502023f84","type":"subflow:aa40c3c502023f84","wires":["6a17a52884acb602","28c1998c014e18b0"],"x":1080,"y":620,"z":"cc81b2e355ce5694"},{"id":"973f2de05456700a","name":"Result (UpperPart)","path":"results.0","type":"show-value","x":490,"y":800,"z":"cc81b2e355ce5694"},{"id":"96c79f894df8537d","name":"Result (LowerPart)","path":"results.1","type":"show-value","x":490,"y":740,"z":"cc81b2e355ce5694"},{"id":"4c564c615ab9bae9","name":"Expected parts","path":"expected","type":"show-value","x":160,"y":760,"z":"cc81b2e355ce5694"},{"id":"4d0646eb0e987866","subflow":"591464d0f904f811","type":"subflow:591464d0f904f811","wires":["39e88c22cf495373","16119ed4515be054","9255c806f79d5e3c","16119ed4515be054"],"x":1040,"y":420,"z":"cc81b2e355ce5694"},{"id":"61f4d67cfa2b8ba8","method":"post","type":"http in","upload":false,"url":"/init","wires":"3f55d8dada5b7061","x":140,"y":380,"z":"cc81b2e355ce5694"},{"id":"3f55d8dada5b7061","type":"http response","x":440,"y":380,"z":"cc81b2e355ce5694"},{"id":"e4332c1de7729695","method":"post","type":"http in","upload":false,"url":"/run","wires":["23253bb27160603c","c45fc1401c202d24"],"x":120,"y":460,"z":"cc81b2e355ce5694"},{"id":"c45fc1401c202d24","name":"OW value -> payload","reg":false,"rules":{"p":"payload","pt":"msg","t":"set","to":"msg.payload.value","tot":"msg"},"type":"change","wires":["ae5de2de81cfad54","76fc91c809b3024b","cd6e6ff477813c62","c524b5dcc1cd8ce9"],"x":180,"y":540,"z":"cc81b2e355ce5694"},{"env":[{"name":"totalcount","type":"num","value":"2"},{"name":"position","type":"num","value":"1"}],"id":"cd6e6ff477813c62","subflow":"61834c2663a6ece6","type":"subflow:61834c2663a6ece6","wires":"b35bd645a6863235","x":390,"y":460,"z":"cc81b2e355ce5694"},{"env":[{"name":"totalcount","type":"num","value":"2"},{"name":"position","type":"num","value":"2"}],"id":"ee3d90e9a1c7f018","subflow":"61834c2663a6ece6","type":"subflow:61834c2663a6ece6","wires":"b35bd645a6863235","x":490,"y":540,"z":"cc81b2e355ce5694"},{"env":[{"name":"totalcount","type":"num","value":"2"},{"name":"position","type":"num","value":"2"}],"id":"d1f2db35a2e177e9","subflow":"61834c2663a6ece6","type":"subflow:61834c2663a6ece6","wires":"e823a15efde8481b","x":1070,"y":560,"z":"cc81b2e355ce5694"},{"env":[{"name":"totalcount","type":"num","value":"2"},{"name":"position","type":"num","value":"1"}],"id":"666dcd7d4bac95b3","subflow":"61834c2663a6ece6","type":"subflow:61834c2663a6ece6","wires":"e823a15efde8481b","x":690,"y":620,"z":"cc81b2e355ce5694"},{"active":false,"complete":"payload","console":false,"id":"16119ed4515be054","statusType":"auto","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1330,"y":360,"z":"cc81b2e355ce5694"},{"active":false,"complete":"false","console":false,"id":"23253bb27160603c","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":290,"y":420,"z":"cc81b2e355ce5694"},{"env":{"name":"Executor Mode","type":"str","value":"NoderedFunction"},"id":"6d44bd9c795b2ef8","subflow":"694cb784968dc0b9","type":"subflow:694cb784968dc0b9","x":680,"y":360,"z":"cc81b2e355ce5694"},{"env":[{"name":"memory","type":"num","value":"512"},{"name":"timeout","type":"num","value":"300000"}],"id":"0d0b17acd84267df","subflow":"dd8835083692860a","type":"subflow:dd8835083692860a","x":880,"y":360,"z":"cc81b2e355ce5694"},{"id":"6a17a52884acb602","reg":false,"rules":{"p":"payload[1].complex","pt":"msg","t":"set","to":"true","tot":"bool"},"type":"change","wires":"4d0646eb0e987866","x":1350,"y":560,"z":"cc81b2e355ce5694"},{"authType":"basic","id":"1c9e4394410d845a","insecureHTTPParser":false,"method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"type":"http request","x":450,"y":1040,"z":"cc81b2e355ce5694"},{"func":"var method='simple_qc_aherget_1cf38725-f5f6-4874-a47c-44e7706548c2';\nmsg.url=`https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/guest/actions/${method}?blocking=true&result=true`;\n\n\nvar creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\n\nreturn msg;","id":"9a08741c3144cee3","name":"insert action invocation url - simple","noerr":0,"outputs":1,"type":"function","wires":"1c9e4394410d845a","x":200,"y":1040,"z":"cc81b2e355ce5694"},{"func":"var method='complex-qc-v5_aherget_cae54468-41dc-4040-9112-f910b37b9cd0';\nmsg.url=`https://openwhisk.apps.ocphub.physics-faas.eu/api/v1/namespaces/guest/actions/${method}?blocking=true&result=true`;\n\n\nvar creds='17dz39c2-62f7-3ed6-9b88-925ce4l3c104:459bO3xUERmNZ9v2BLU1dRYFpXlPkccOFqm31LdAsMgRU4VrNZ9dhORZGuLJGIqF';\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\n\nreturn msg;","id":"106e0b74c991d632","name":"insert action invocation url - complex","noerr":0,"outputs":1,"type":"function","wires":"d1497d8c9d4233d9","x":870,"y":1020,"z":"cc81b2e355ce5694"},{"authType":"basic","id":"d1497d8c9d4233d9","insecureHTTPParser":false,"method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","senderr":false,"type":"http request","x":1150,"y":1020,"z":"cc81b2e355ce5694"},{"env":{"name":"locality","type":"str","value":"default"},"id":"358f56192fe0d987","subflow":"cc355ea3b5a58c54","type":"subflow:cc355ea3b5a58c54","x":320,"y":160,"z":"cc81b2e355ce5694"},{"env":{"name":"dynamicActionName","type":"str","value":"simple_qc_aherget"},"id":"c524b5dcc1cd8ce9","name":"Dynamic simple QC action","subflow":"3352c7dddc9aad6d","type":"subflow:3352c7dddc9aad6d","wires":["ee3d90e9a1c7f018","96c79f894df8537d","973f2de05456700a","1778a57288f1e208"],"x":380,"y":660,"z":"cc81b2e355ce5694"},{"env":{"name":"dynamicActionName","type":"str","value":"complex_qc_aherget"},"id":"f2569f083176ae03","name":"Dynamic complex QC action","subflow":"3352c7dddc9aad6d","type":"subflow:3352c7dddc9aad6d","wires":["d1f2db35a2e177e9","b04443e064b94e38","c1916b788677cea5"],"x":800,"y":560,"z":"cc81b2e355ce5694"},{"env":[{"name":"maxAttempts","type":"str","value":"20"},{"name":"pollPeriod","type":"num","value":"3000"},{"name":"method","type":"str","value":"GET"},{"name":"functionChain","type":"bool","value":"false"}],"id":"b4638640181eac85","subflow":"789351ac.02c9d","type":"subflow:789351ac.02c9d","x":710,"y":220,"z":"cc81b2e355ce5694"},{"func":"// first msg should be the original request, second one from QC\n\nif (typeof msg.payload[1].results == 'undefined') {\n    return [null, msg, {payload: { fill:\"red\", shape:\"dot\", text:\"No results!\" }}]\n}\n\nvar score_total = 0\nvar score_min = 999\nfor (const result of msg.payload[1].results)\n{\n    score_total += result.score\n    // old version\n    if (result.score < score_min)\n    {\n        score_min = result.score\n    }\n    // new version\n    if (result.confidence < score_min) {\n        score_min = result.confidence\n    }\n}\n\n//const certainty = score_total / msg.payload.results.length\nconst certainty = score_min\nif (certainty > 0.8)\n{\n    // both messages for inspecting results\n    return [msg, null, {payload: { fill:\"green\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\nelse \n{\n    msg.payload = msg.payload[0]\n    return [null, msg, {payload: { fill:\"yellow\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\n","id":"5a3afc7aff7f239e","name":"check certainty","noerr":0,"outputLabels":"status","outputs":3,"type":"function","x":380,"y":80,"z":"aa40c3c502023f84"},{"accumulate":false,"build":"array","count":"2","id":"10c7aa9f7e3b1b87","joiner":"\\n","joinerType":"str","key":"topic","mode":"auto","name":"join 2 msg","property":"payload","propertyType":"msg","reduceRight":false,"type":"join","wires":"5a3afc7aff7f239e","x":170,"y":80,"z":"aa40c3c502023f84"},{"func":"// first msg should be the original request, second one from QC\n\nif (typeof msg.payload[1].results == 'undefined') {\n    return [null, msg, {payload: { fill:\"red\", shape:\"dot\", text:\"No results!\" }}]\n}\n\nvar score_total = 0\nvar score_min = 999\nfor (const result of msg.payload[1].results)\n{\n    score_total += result.score\n    // old version\n    if (result.score < score_min)\n    {\n        score_min = result.score\n    }\n    // new version\n    if (result.confidence < score_min) {\n        score_min = result.confidence\n    }\n}\n\n//const certainty = score_total / msg.payload.results.length\nconst certainty = score_min\nif (certainty > 0.8)\n{\n    // both messages for inspecting results\n    return [msg, null, {payload: { fill:\"green\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\nelse \n{\n    msg.payload = msg.payload[0]\n    return [null, msg, {payload: { fill:\"yellow\", shape:\"dot\", text:\"Certainty=\" + certainty }}]\n}\n","id":"5a3afc7aff7f239e","name":"check certainty","noerr":0,"outputLabels":"status","outputs":3,"type":"function","x":380,"y":80,"z":"aa40c3c502023f84"},{"accumulate":false,"build":"array","count":"2","id":"10c7aa9f7e3b1b87","joiner":"\\n","joinerType":"str","key":"topic","mode":"auto","name":"join 2 msg","property":"payload","propertyType":"msg","reduceRight":false,"type":"join","wires":"5a3afc7aff7f239e","x":170,"y":80,"z":"aa40c3c502023f84"},{"func":"\nif (typeof msg.payload[1].results == 'undefined') {\n    return [null, null, {payload: { fill:\"red\", shape:\"dot\", text:\"No results!\" }}]\n} else if (typeof msg.payload[0].expected == 'undefined') {\n    return [null, null, {payload: { fill:\"red\", shape:\"dot\", text:\"No expected parts!\" }}]\n}\n\nvar result_parts = []\nfor (const result of msg.payload[1].results)\n{\n    result_parts.push(result.class)\n    result_parts.push(result.label)  // new version\n}\n\nfor (const part of msg.payload[0].expected)\n{\n    if (!result_parts.includes(part.name))\n    {\n        msg.payload = msg.payload[1]\n        return [null, msg, {payload: { fill:\"yellow\", shape:\"dot\", text:\"Quality NOT OK! Part \"+part.name+\" not found in result!\" }}]\n    }\n}\n\nmsg.payload = msg.payload[1]\nreturn [msg, null, {payload: { fill:\"green\", shape:\"dot\", text:\"Quality OK!\" }}]","id":"05898d2a8fe617e7","name":"Check Results","noerr":0,"outputs":3,"type":"function","x":220,"y":180,"z":"591464d0f904f811"},{"func":"\n//need to push the new parts down a LIFO structure?\nif (msg.hasOwnProperty(\"parts\")){\n    var parts={};\n    parts=msg.parts;\n    delete msg.parts;\n    msg.parts={};\n    msg.parts.parts=parts;\n    msg.parts.id=msg._msgid;\n} else {\n    msg.parts={};\n    msg.parts.id=msg._msgid;\n}\n\nmsg.parts.count=env.get('totalcount');\nmsg.parts.len=1;\nmsg.parts.index=env.get('position')-1;\nmsg.parts.type=\"array\";\n\n//msg.topic='topic2';\n\n\nreturn msg;","id":"6cf5b4224f0daa69","name":"create artificial msg.parts","noerr":0,"outputs":1,"type":"function","x":330,"y":120,"z":"61834c2663a6ece6"},{"func":"\n//need to push the new parts down a LIFO structure?\nif (msg.hasOwnProperty(\"parts\")){\n    var parts={};\n    parts=msg.parts;\n    delete msg.parts;\n    msg.parts={};\n    msg.parts.parts=parts;\n    msg.parts.id=msg._msgid;\n} else {\n    msg.parts={};\n    msg.parts.id=msg._msgid;\n}\n\nmsg.parts.count=env.get('totalcount');\nmsg.parts.len=1;\nmsg.parts.index=env.get('position')-1;\nmsg.parts.type=\"array\";\n\n//msg.topic='topic2';\n\n\nreturn msg;","id":"6cf5b4224f0daa69","name":"create artificial msg.parts","noerr":0,"outputs":1,"type":"function","x":330,"y":120,"z":"61834c2663a6ece6"},{"func":"\n//need to push the new parts down a LIFO structure?\nif (msg.hasOwnProperty(\"parts\")){\n    var parts={};\n    parts=msg.parts;\n    delete msg.parts;\n    msg.parts={};\n    msg.parts.parts=parts;\n    msg.parts.id=msg._msgid;\n} else {\n    msg.parts={};\n    msg.parts.id=msg._msgid;\n}\n\nmsg.parts.count=env.get('totalcount');\nmsg.parts.len=1;\nmsg.parts.index=env.get('position')-1;\nmsg.parts.type=\"array\";\n\n//msg.topic='topic2';\n\n\nreturn msg;","id":"6cf5b4224f0daa69","name":"create artificial msg.parts","noerr":0,"outputs":1,"type":"function","x":330,"y":120,"z":"61834c2663a6ece6"},{"func":"\n//need to push the new parts down a LIFO structure?\nif (msg.hasOwnProperty(\"parts\")){\n    var parts={};\n    parts=msg.parts;\n    delete msg.parts;\n    msg.parts={};\n    msg.parts.parts=parts;\n    msg.parts.id=msg._msgid;\n} else {\n    msg.parts={};\n    msg.parts.id=msg._msgid;\n}\n\nmsg.parts.count=env.get('totalcount');\nmsg.parts.len=1;\nmsg.parts.index=env.get('position')-1;\nmsg.parts.type=\"array\";\n\n//msg.topic='topic2';\n\n\nreturn msg;","id":"6cf5b4224f0daa69","name":"create artificial msg.parts","noerr":0,"outputs":1,"type":"function","x":330,"y":120,"z":"61834c2663a6ece6"},{"func":"msg.annotations={};\nmsg.annotations.executorMode=env.get('Executor Mode');","id":"82b665f654048ecf","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","noerr":0,"outputs":1,"type":"function","x":360,"y":140,"z":"694cb784968dc0b9"},{"id":"eeb5210da7efebd3","info":"The Executor Mode Annotator is a mean to describe to the PHYSICS Environment the execution mode of a given flow. There are three options\n1) Service mode: the selected flow will be deployed as a Node-RED service, thus always running\n2) Node-RED Function mode: the selected flow will be wrapped around a Node-RED runtime and registered to a target Openwhisk platform, where it will be executed as a Node-RED runtime function\n3) Native Sequence: the included functions will be packaged and registered individually at the Openwhisk platform, while their links (workflow) will be translated to the native Openwhisk sequence format and registered to the Openwhisk platform. This mode at the moment is limited to pure function nodes of Node-RED, while the workflow description is limited by the sequence abilities of Openwhisk. ","name":"Instructions","type":"comment","x":560,"y":280,"z":"694cb784968dc0b9"},{"func":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","id":"c66966a2d36f06b5","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","name":"add sizing","noerr":0,"outputs":1,"type":"function","x":300,"y":60,"z":"dd8835083692860a"},{"id":"a1b2b984f0c8eebd","info":"The node is used to indicate at the flow level the locality of this flow with relation to a set of standard locations by name ","name":"README","type":"comment","x":400,"y":220,"z":"cc355ea3b5a58c54"},{"id":"a80b2fa1299e3bb8","type":"tls-config","verifyservercert":false,"z":"3352c7dddc9aad6d"},{"id":"b9c86339cffd54ea","method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","tls":"a80b2fa1299e3bb8","type":"http request","wires":"27c3b0af40ccb4e0","x":370,"y":180,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\n\n\n//get info from incoming function params based on the action name given by the user in the Dynamic Action UI\nconst prophost='__'+env.get('actionName')+'_HOST';\nconst propcreds='__'+env.get('actionName')+'_CREDS';\nconst propnamespace='__'+env.get('actionName')+'_NAMESPACE';\n\n//retrieve from incoming msg params\nmsg.namespace=msg.payload.value[propnamespace];\nmsg.creds=msg.payload.value[propcreds];\nmsg.baseurl=msg.payload.value[prophost];\nmsg.url=msg.payload.value[prophost]+'namespaces/'+msg.namespace+'/actions/'+env.get('actionName');\n\n//delete info so that it does not leak into the newly called function, we dont know how the payload \n//is going to be used after that\n\ndelete msg.payload.value[propcreds];\ndelete msg.payload.value[propnamespace];\ndelete msg.payload.value[prophost]\n\n\n//denote msg.payload.value which is the normal payload to msg.payload since it is like this that the \n//inner function awaits it. Otherwise it will be in msg.payload.value.value from the follow-up OW call\nvar input=msg.payload.value;\nmsg.payload={};\nmsg.payload=input;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","id":"60d351e91c4f1f19","name":"create dynamic","noerr":0,"outputs":1,"type":"function","wires":"b9c86339cffd54ea","x":200,"y":180,"z":"3352c7dddc9aad6d"},{"func":"\nmsg.activationID=msg.headers['x-openwhisk-activation-id'];\n//msg.oldheaders=msg.headers;\n//msg.headers={};\nmsg.url=msg.baseurl+'namespaces/'+msg.namespace+'/activations/'+msg.activationID;\n\nreturn msg;","id":"27c3b0af40ccb4e0","name":"add activation id","noerr":0,"outputs":1,"type":"function","wires":"5e15f34e1caa9fe7","x":540,"y":180,"z":"3352c7dddc9aad6d"},{"env":[{"name":"maxAttempts","type":"str","value":"20"},{"name":"pollPeriod","type":"num","value":"3000"},{"name":"method","type":"str","value":"GET"},{"name":"functionChain","type":"bool","value":"false"}],"id":"5e15f34e1caa9fe7","type":"subflow:789351ac.02c9d","wires":["b84a3ec8968b0617","47a494805843dcd7"],"x":610,"y":260,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\nvar response=msg.payload.response;\nmsg.payload={};\nmsg.payload.response=response;\n\nreturn msg;\n//return msg.oldmsg;","id":"b84a3ec8968b0617","name":"reduce output","noerr":0,"outputs":1,"type":"function","x":840,"y":280,"z":"3352c7dddc9aad6d"},{"active":true,"complete":"false","console":false,"id":"47a494805843dcd7","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":610,"y":60,"z":"3352c7dddc9aad6d"},{"id":"a80b2fa1299e3bb8","type":"tls-config","verifyservercert":false,"z":"3352c7dddc9aad6d"},{"id":"b9c86339cffd54ea","method":"POST","paytoqs":"ignore","persist":false,"ret":"obj","tls":"a80b2fa1299e3bb8","type":"http request","wires":"27c3b0af40ccb4e0","x":370,"y":180,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\n\n\n//get info from incoming function params based on the action name given by the user in the Dynamic Action UI\nconst prophost='__'+env.get('actionName')+'_HOST';\nconst propcreds='__'+env.get('actionName')+'_CREDS';\nconst propnamespace='__'+env.get('actionName')+'_NAMESPACE';\n\n//retrieve from incoming msg params\nmsg.namespace=msg.payload.value[propnamespace];\nmsg.creds=msg.payload.value[propcreds];\nmsg.baseurl=msg.payload.value[prophost];\nmsg.url=msg.payload.value[prophost]+'namespaces/'+msg.namespace+'/actions/'+env.get('actionName');\n\n//delete info so that it does not leak into the newly called function, we dont know how the payload \n//is going to be used after that\n\ndelete msg.payload.value[propcreds];\ndelete msg.payload.value[propnamespace];\ndelete msg.payload.value[prophost]\n\n\n//denote msg.payload.value which is the normal payload to msg.payload since it is like this that the \n//inner function awaits it. Otherwise it will be in msg.payload.value.value from the follow-up OW call\nvar input=msg.payload.value;\nmsg.payload={};\nmsg.payload=input;\n\nmsg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","id":"60d351e91c4f1f19","name":"create dynamic","noerr":0,"outputs":1,"type":"function","wires":"b9c86339cffd54ea","x":200,"y":180,"z":"3352c7dddc9aad6d"},{"func":"\nmsg.activationID=msg.headers['x-openwhisk-activation-id'];\n//msg.oldheaders=msg.headers;\n//msg.headers={};\nmsg.url=msg.baseurl+'namespaces/'+msg.namespace+'/activations/'+msg.activationID;\n\nreturn msg;","id":"27c3b0af40ccb4e0","name":"add activation id","noerr":0,"outputs":1,"type":"function","wires":"5e15f34e1caa9fe7","x":540,"y":180,"z":"3352c7dddc9aad6d"},{"env":[{"name":"maxAttempts","type":"str","value":"20"},{"name":"pollPeriod","type":"num","value":"3000"},{"name":"method","type":"str","value":"GET"},{"name":"functionChain","type":"bool","value":"false"}],"id":"5e15f34e1caa9fe7","subflow":"789351ac.02c9d","type":"subflow:789351ac.02c9d","wires":["b84a3ec8968b0617","47a494805843dcd7"],"x":610,"y":260,"z":"3352c7dddc9aad6d"},{"func":"//msg.headers={};\nvar response=msg.payload.response;\nmsg.payload={};\nmsg.payload.response=response;\n\nreturn msg;\n//return msg.oldmsg;","id":"b84a3ec8968b0617","name":"reduce output","noerr":0,"outputs":1,"type":"function","x":840,"y":280,"z":"3352c7dddc9aad6d"},{"active":true,"complete":"false","console":false,"id":"47a494805843dcd7","statusType":"auto","tosidebar":true,"tostatus":false,"type":"debug","x":610,"y":60,"z":"3352c7dddc9aad6d"},{"id":"2934f390.711324","type":"tls-config","verifyservercert":false,"z":"789351ac.02c9d"},{"func":"\nif (msg.hasOwnProperty('maxAttempts')){\n    msg.iterations=msg.maxAttempts;\n} else {\n    msg.iterations=env.get('maxAttempts');\n}\n//needed to reset the iterations after function chaining\nmsg.defaultAttempts=msg.iterations;\n\nif (msg.hasOwnProperty('pollPeriod')){\n    \n} else {\n    msg.pollPeriod=env.get('pollPeriod');\n}\n\nif (msg.hasOwnProperty('method')){\n    \n} else {\n    msg.method=env.get('method');\n}\n\nif (msg.hasOwnProperty('url')){\n    \n} else {\n    msg.url=env.get('url');\n}\n\nif (msg.hasOwnProperty('retryCode')){\n    \n} else {\n    msg.retryCode=env.get('retryCode');\n}\n\nif (msg.hasOwnProperty('acceptCode')){\n    \n} else {\n    msg.acceptCode=env.get('acceptCode');\n}\n\nif (msg.hasOwnProperty('creds')){\n    \n} else {\n    msg.creds=env.get('creds');\n}\n\nif (msg.hasOwnProperty('functionChain')){\n    \n} else {\n    msg.functionChain=env.get('functionChain');\n}\n\nif (msg.hasOwnProperty('inputData')){\n    if (msg.inputData.hasOwnProperty('creds')){\n        msg.creds=msg.inputData.creds;\n    }\n}\n\n\n\nmsg.delay=msg.pollPeriod;\nmsg.start=Date.now();\nreturn msg;","id":"7d194c10.33b51c","name":"defaults+activation id","noerr":0,"outputs":1,"type":"function","wires":"cad17b04.a2b4d8","x":200,"y":160,"z":"789351ac.02c9d"},{"func":"msg.iterations=msg.iterations-1;\n/*\nif (flow.get('stop')==true){\n    msg.iterations=-1;\n}*/\nreturn msg;","id":"4be3f205.3e8dc4","name":"iterations--","noerr":0,"outputs":1,"type":"function","wires":["c2cf68b7.263d4","d8305759.866988"],"x":350,"y":300,"z":"789351ac.02c9d"},{"checkall":"true","id":"c2cf68b7.263d4","name":"if iterations finished","outputs":2,"property":"iterations","propertyType":"msg","repair":false,"rules":[{"t":"gte","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"num"}],"type":"switch","wires":"cad17b04.a2b4d8","x":550,"y":300,"z":"789351ac.02c9d"},{"id":"76299695.812bd8","name":"SUCCESS","type":"comment","x":1100,"y":60,"z":"789351ac.02c9d"},{"id":"48093072.b17a6","name":"FINAL FAIL","type":"comment","x":890,"y":360,"z":"789351ac.02c9d"},{"drop":false,"id":"d5960f2f.2e9448","name":"delay","nbRateUnits":"1","outputs":1,"pauseType":"delayv","randomFirst":"1","randomLast":"5","randomUnits":"seconds","rate":"1","rateUnits":"second","timeout":"5","timeoutUnits":"seconds","type":"delay","wires":"4be3f205.3e8dc4","x":170,"y":300,"z":"789351ac.02c9d"},{"id":"471b3d64.265894","method":"GET","paytoqs":"ignore","persist":false,"ret":"obj","tls":"2934f390.711324","type":"http request","wires":"8694180b.ec1c68","x":590,"y":160,"z":"789351ac.02c9d"},{"checkall":"true","id":"8694180b.ec1c68","name":"Status code check","outputs":2,"property":"statusCode","propertyType":"msg","repair":false,"rules":[{"t":"lte","v":"acceptCode","vt":"msg"},{"t":"gte","v":"retryCode","vt":"msg"}],"type":"switch","wires":["f9d0aba7.72382","d5960f2f.2e9448"],"x":810,"y":160,"z":"789351ac.02c9d"},{"id":"ef03414f.ad9d78","name":"RETRY FAIL","type":"comment","x":890,"y":260,"z":"789351ac.02c9d"},{"active":true,"complete":"true","console":false,"id":"66bbc0cf.0c62f","name":"BEFORE AUTH","targetType":"full","tosidebar":true,"tostatus":false,"type":"debug","x":370,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"url","console":true,"id":"13791c2d.8cea7c","name":"URL","statusType":"auto","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":580,"y":100,"z":"789351ac.02c9d"},{"func":"msg.headers={};\nvar auth = 'Basic ' + new Buffer(msg.creds).toString('base64');\nmsg.headers = {\n    \"Authorization\": auth\n}\n\nreturn msg;","id":"cad17b04.a2b4d8","name":"add auth","noerr":0,"outputs":1,"type":"function","wires":["471b3d64.265894","13791c2d.8cea7c"],"x":420,"y":160,"z":"789351ac.02c9d"},{"func":"\n\nmsg.url=msg.payload.response.result.newActivationIDURL;\nmsg.iterations=msg.defaultAttempts+1;\nconsole.log('IN ADAPTATION TO ACTIVATION',msg.url);\nreturn msg;","id":"f2b7c4e4.a24c3","name":"adapt to new activation","noerr":0,"outputs":1,"type":"function","wires":["d5960f2f.2e9448","ee1dbf44.7368f8"],"x":1500,"y":160,"z":"789351ac.02c9d"},{"id":"c338e47b.b00ed","name":"FUNCTION CHAIN CONTINUATION","type":"comment","x":1240,"y":240,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"ee1dbf44.7368f8","name":"AFTER CONTINUATION IN Poll2Push","statusType":"auto","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1420,"y":300,"z":"789351ac.02c9d"},{"checkall":"true","id":"f9d0aba7.72382","name":"is Chain","outputs":2,"property":"functionChain","propertyType":"msg","repair":false,"rules":[{"t":"false"},{"t":"true"}],"type":"switch","wires":["6da1eea0.969368","1bbc6fa0.4879c"],"x":1020,"y":160,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"6da1eea0.969368","name":"RESULT STATUS","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1100,"y":300,"z":"789351ac.02c9d"},{"active":true,"complete":"functionChain","console":true,"id":"f20a68d.9711598","name":"AFTER CODE CHECK","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":890,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"36905e62.dfad92","name":"TOP1","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1120,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"9610a737.bf275","name":"TOP2","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1300,"y":100,"z":"789351ac.02c9d"},{"active":true,"complete":"payload","console":true,"id":"c52af08f.756ee8","name":"TOP3","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":1600,"y":100,"z":"789351ac.02c9d"},{"func":"console.log('IN COMPARE COMPLETION',msg.payload.response);\nif (msg.payload.response.result.status==='Completed'){\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n","id":"1bbc6fa0.4879c","name":"compare completion","noerr":0,"outputs":2,"type":"function","wires":["c52af08f.756ee8","f2b7c4e4.a24c3"],"x":1240,"y":160,"z":"789351ac.02c9d"},{"active":true,"complete":"iterations","console":true,"id":"d8305759.866988","name":"URL","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","x":500,"y":380,"z":"789351ac.02c9d"}]},"hasNode":[{"@id":"flow:cc81b2e355ce5694/node/b35bd645a6863235","@type":"SubFlow","hasTemplate":"flow:aa40c3c502023f84"},{"@id":"flow:cc81b2e355ce5694/node/e823a15efde8481b","@type":"SubFlow","hasNodeOutput":"flow:cc81b2e355ce5694/interface/28c1998c014e18b0","hasTemplate":"flow:aa40c3c502023f84"},{"@id":"flow:cc81b2e355ce5694/node/4d0646eb0e987866","@type":"SubFlow","hasNodeOutput":["flow:cc81b2e355ce5694/interface/39e88c22cf495373","flow:cc81b2e355ce5694/interface/9255c806f79d5e3c"],"hasTemplate":"flow:591464d0f904f811"},{"@id":"flow:cc81b2e355ce5694/node/cd6e6ff477813c62","@type":"SubFlow","hasTemplate":"flow:61834c2663a6ece6"},{"@id":"flow:cc81b2e355ce5694/node/ee3d90e9a1c7f018","@type":"SubFlow","hasTemplate":"flow:61834c2663a6ece6"},{"@id":"flow:cc81b2e355ce5694/node/d1f2db35a2e177e9","@type":"SubFlow","hasTemplate":"flow:61834c2663a6ece6"},{"@id":"flow:cc81b2e355ce5694/node/666dcd7d4bac95b3","@type":"SubFlow","hasTemplate":"flow:61834c2663a6ece6"},{"@id":"flow:cc81b2e355ce5694/node/b4638640181eac85","@type":"SubFlow","hasTemplate":"flow:789351ac.02c9d"},{"@id":"flow:cc81b2e355ce5694/node/5e15f34e1caa9fe7","@type":"SubFlow","hasTemplate":"flow:789351ac.02c9d"}],"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/custom/aherget:10","@type":"SoftwareImage"},"label":"QC2","loadGenData":{"achievedAverageRate":4.47,"averageDuration":5630.29,"averageInitTime":537.14,"averageStartLatency":4080,"averageUserSideDelay":9710.29,"averageWaitTime":4072.14,"globalStartTime":1697654183269,"launchGeneratorDelay":47,"location":"default","memory":512,"sampleNumber":7,"setRate":5.030889860261139,"stdDevDuration":2838.73,"stdDevInitTime":421.51,"stdDevStartLatency":1377.01,"stdDevUserSideDelay":3586.23,"stdDevWaitTime":1376.02,"successPercentage":0},"locality":"default","memory":"512","performanceProfile":{"location":"default","resources":{"cpu":"low","fsreads":"medium","fswrites":"low","memory":"low","networkreceived":"low","networktransmitted":"low"}},"timeout":"300000"},{"@id":"flow:48c8d5fcf45af123","@type":"Flow","customImage":"registry.apps.ocphub.physics-faas.eu/external-uploaded/physics-test-aherget:v1","goal":"availability","hasFunction":{"@id":"function:c66966a2d36f06b5","@type":"Function","funcCode":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","label":"add sizing"},"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/external-uploaded/physics-test-aherget:v1","artifactType":"image","id":"48c8d5fcf45af123","label":"simple_qc","nodes":[{"disabled":false,"id":"48c8d5fcf45af123","label":"simple_qc","type":"tab"},{"env":{"name":"customImage","type":"str","value":"registry.apps.ocphub.physics-faas.eu/external-uploaded/physics-test-aherget:v1"},"id":"3e4008afcef21679","subflow":"b5d1dcf74fe240aa","type":"subflow:b5d1dcf74fe240aa","x":790,"y":360,"z":"48c8d5fcf45af123"},{"env":{"name":"memory","type":"num","value":"512"},"id":"626cb7ccd6b044a6","subflow":"dd8835083692860a","type":"subflow:dd8835083692860a","x":740,"y":440,"z":"48c8d5fcf45af123"},{"env":{"name":"goal","type":"str","value":"availability"},"id":"f9bb1731578b6903","subflow":"16204fd1ca5591c5","type":"subflow:16204fd1ca5591c5","x":680,"y":240,"z":"48c8d5fcf45af123"},{"id":"25e8c046a47e4bfe","name":"Subflows need at least 1 node inside","type":"comment","x":250,"y":80,"z":"b5d1dcf74fe240aa"},{"func":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","id":"c66966a2d36f06b5","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","name":"add sizing","noerr":0,"outputs":1,"type":"function","x":300,"y":60,"z":"dd8835083692860a"},{"id":"8303025f7940685a","info":"The node is used to set the desired optimization goal: performance/energy","name":"README","type":"comment","x":340,"y":160,"z":"16204fd1ca5591c5"}]},"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/external-uploaded/physics-test-aherget:v1","@type":"SoftwareImage"},"label":"simple_qc","memory":"512"},{"@id":"flow:ef04bbdffd041a11","@type":"Flow","customImage":"registry.apps.ocphub.physics-faas.eu/external-uploaded/phy-qc-compl-aherget:v5","goal":"performance","hasFunction":{"@id":"function:c66966a2d36f06b5","@type":"Function","funcCode":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","initCode":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","label":"add sizing"},"hasJSONDescription":{"artifact":"registry.apps.ocphub.physics-faas.eu/external-uploaded/phy-qc-compl-aherget:v5","artifactType":"image","id":"ef04bbdffd041a11","label":"complex_qc","nodes":[{"disabled":false,"id":"ef04bbdffd041a11","label":"complex_qc","type":"tab"},{"env":{"name":"customImage","type":"str","value":"registry.apps.ocphub.physics-faas.eu/external-uploaded/phy-qc-compl-aherget:v5"},"id":"cc1334c9cc8313a3","subflow":"b5d1dcf74fe240aa","type":"subflow:b5d1dcf74fe240aa","x":890,"y":420,"z":"ef04bbdffd041a11"},{"env":{"name":"memory","type":"num","value":"512"},"id":"b953f753df04ebc4","subflow":"dd8835083692860a","type":"subflow:dd8835083692860a","x":840,"y":500,"z":"ef04bbdffd041a11"},{"env":{"name":"goal","type":"str","value":"performance"},"id":"48fb6bfa6a7412be","subflow":"16204fd1ca5591c5","type":"subflow:16204fd1ca5591c5","x":600,"y":220,"z":"ef04bbdffd041a11"},{"id":"25e8c046a47e4bfe","name":"Subflows need at least 1 node inside","type":"comment","x":250,"y":80,"z":"b5d1dcf74fe240aa"},{"func":"\nmsg.annotations={};\nmsg.annotations.sizing={};\nmsg.annotations.sizing.memory=env.get('memory');\nmsg.annotations.sizing.timeout=env.get('timeout');\n\nreturn msg;\n","id":"c66966a2d36f06b5","initialize":"// Code added here will be run once\n// whenever the node is started.\n\n//msg.payload.imageName=env.get('Image Name');\n//return msg;","name":"add sizing","noerr":0,"outputs":1,"type":"function","x":300,"y":60,"z":"dd8835083692860a"},{"id":"8303025f7940685a","info":"The node is used to set the desired optimization goal: performance/energy","name":"README","type":"comment","x":340,"y":160,"z":"16204fd1ca5591c5"}]},"hasSoftwareArtifact":{"@id":"registry.apps.ocphub.physics-faas.eu/external-uploaded/phy-qc-compl-aherget:v5","@type":"SoftwareImage"},"label":"complex_qc","memory":"512"}],"isTopLevelComposite":true}